<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<link rel="stylesheet" href="/css/plugins/summernote/summernote.css"/>
<link rel="stylesheet" href="/css/form/cascader.css"/>
<link rel="stylesheet" href="/css/form/form.css"/>
<link rel="stylesheet" href="/css/form/switch.css"/>
<link rel="stylesheet" href="/css/form/bootstrap-select.css"/>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/workflow/operate-guide.css">
<style>
	.layer-box{padding:0px;}
	.layer-box .page-ul{padding-left:15px;padding-right:15px;}
</style>
<head th:include="include::headerContent"></head>

<body class="windowPage layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<ul class="title-ul">
			<li class="field-li content-whole r title-sign" htype="TEXT">	
				<div class="field-div field-content spec">		
					<div class="return-back" onclick="tabReturnBack($(this));">
						<i class="fa fa-reply mr5"></i><span>返回</span>
					</div>		
					<div class="line"></div>		
					<div class="field-name" th:text="${pageTitle}"></div>	
				</div>
			</li>
		</ul>
		<div class="block-header hide"></div>
		<form action="" id="operate">
			<input type="hidden" id="isContinue" value=""/>
			<input type="hidden" id="isNotCloseWindow" value="N"/>
			<input name="id" id="id" type="hidden" th:value="${type.id}">
			<input name="parentId" id="parentId" type="hidden" th:value="${type.parentId}">
			<input name="objectType" id="objectType" type="hidden" th:value="${type.objectType}">
			<input name="isEdit" id="isEdit" type="hidden" th:value="${isEdit}">
			<div class="layout-box new">
				<div class="layout-left">
					<ul class="page-ul">
						<li class="field-li content-whole" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="类型名称"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<input class="form-control" name="name" type="text" th:value="${type.name}" placeholder="请输入类型名称" autocomplete="off"  htype="TEXT" maxlength="100" required>
							</div>
						</li>
						<li class="field-li content-whole" field="preId" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="前置类型"></span></div>
							<div class="field-div field-content">
								<select id="preId" class="selectpicker" name="preId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${preList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="lifecycleId" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="生命周期"></span></div>
							<div class="field-div field-content">
								<select id="lifecycleId" class="selectpicker" name="lifecycleId" data-live-search="true" data-live-search-style="begins" title="请选择" required>
									<option value="">请选择</option>
									<option th:each="select:${lifecycleList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="planTemplateId" htype="SELECT" th:if="${type.objectType} eq 'PJT'">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="计划模板"></span></div>
							<div class="field-div field-content">
								<select id="planTemplateId" class="selectpicker" name="planTemplateId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${planTemplateList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="workflowGroupId" htype="SELECT" th:if="${type.objectType} eq 'PJT'">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="流程组合"></span></div>
							<div class="field-div field-content">
								<select id="workflowGroupId" class="selectpicker" name="workflowGroupId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${workflowGroupList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="codeRule" htype="SELECT" th:style="${model} ne 'TSK' ? '':'display:none'">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="编号规则"></span></div>
							<div class="field-div field-content code-select code-rule">
								<input class="form-control code-sign" name="codeSign" id="codeSign" type="text" placeholder="请输入编号标识" th:value="${codeSign}" autocomplete="off"  htype="TEXT" maxlength="100">
								<select id="firstConnect" class="selectpicker" name="firstConnect" data-live-search-style="begins" data-width="200px" title="请选择连接符" onchange="changeCodeConnect($(this))">
									<option th:each="select:${firstConnectList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
								<select id="middleRule" class="selectpicker" name="middleRule" data-live-search-style="begins" data-width="400px" title="请选择编号规则" onchange="changeMiddleRule($(this))">
									<option th:each="select:${middleRuleList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
								<select id="secondConnect" class="selectpicker" name="secondConnect" data-live-search-style="begins" data-width="200px" title="请选择连接符" onchange="changeCodeConnect($(this))">
									<option th:each="select:${secondConnectList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
								<select id="codeSuffix" class="selectpicker" name="codeSuffix" data-live-search-style="begins" data-width="400px" title="请选择编号后缀" onchange="changeCodeSuffix($(this))">
									<option value="">请选择编号后缀</option>
									<option th:each="select:${codeSuffixList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
							<div class="field-div examples" th:classappend="${#strings.isEmpty(codeSign)} ? 'hide':''">
								例如：<span class="codeSign" th:text="${codeSign}"></span><span class="firstConnect" th:text="${firstConnect}"></span><span class="middleRule" th:text="${middleRule}"></span><span class="secondConnect" th:text="${secondConnect}"></span><span class="codeSuffix" th:text="${codeSuffix}">000001</span>
							</div>
						</li>
						<li class="field-li content-whole" field="remark" htype="AREA">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="备注"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<div class="textarea-box">
									<textarea rows="8" class="input_textarea" name="remark" id="remarkContent" maxlength="2048" th:text="${type.remark}" placeholder="请输入备注"></textarea>
								</div>
							</div>
						</li>
					</ul>
					<div class="formBtn hide">
						<div class="layui-layer-btn layui-submit-btn">
							<input type="submit" id="submit" class="layui-layer-btn0 btns cp" onClick="$('#isContinue').val('N')" th:value="#{common.save}" th:style="${isEditBigWindow} eq 'Y' ? 'display:none' : ''"/>
							<input type="submit" class="layui-layer-btn0 btns cp" onClick="$('#isNotCloseWindow').val('Y')" th:value="保存并保留窗口" th:style="${isEditBigWindow} eq 'Y' ? '' : 'display:none'"/>
							<input type="submit" class="layui-layer-btn0 btns cp" onClick="$('#isNotCloseWindow').val('N')" th:value="保存并关闭窗口" th:style="${isEditBigWindow} eq 'Y' ? '' : 'display:none'"/>
							<input type="submit" id="submitAndNew" class="layui-layer-btn0 btns cp" onClick="$('#isContinue').val('Y')" th:value="#{common.saveAndNew}" th:style="${isEdit} eq 'Y' ? 'display:none' : '' "/>
							<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" onclick="tabReturnBack($(this))"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box hide">
				<div class="layui-layer-btn layui-submit-btn">
					<div class="more-btn" th:style="${isEdit} eq 'N' ? 'display:none' : '' ">
						<span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span>配置页面</span>
							<i class="fa fa-ellipsis-h ml5"></i>
						</span>
						<ul id="setPage" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
	                         <li val="ADD" title="配置新建页面" ><a href="javascript:void(0);">配置新建页面</a></li>
	                         <li val="VIEW" title="配置查看页面" ><a href="javascript:void(0);">配置查看页面</a></li>
	                         <li val="EDIT" title="配置编辑页面"><a href="javascript:void(0);">配置编辑页面</a></li>
	                    </ul>
					</div>
				</div>
			</div>
		</form>
	
	</div>
	
	
	<div th:include="include::footerContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; objectType = [[${param.objectType}]];</script>
	
	<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/plugins/datapicker/laydate.js"></script>
	<script src="/js/form/cascader.js"></script>
	<script src="/js/form/switch.js"></script>
	<script src="/js/plugins/autosize/textSum.min.js"></script>
	<script src="/js/form/form.js"></script>
	<script src="/js/form/jquery-html5Validate.js"></script>
	<script src="/js/form/bootstrap-select.js"></script>
	<script src="/js/form/paigusu.min.js"></script>
	<script src="/js/field/field.js"></script>
	<script src="/js/workflow/operate-guide.js"></script>
	
	<script>
		$(function() {
			initFormControl('entity');
			
			$('.btn-box, .formBtn').removeClass('hide');
			hideLoading();
			
			var objectId = $('#id').val(), objectType = $('#objectType').val();
			initPageSet();
			
			if($('#isEdit').val() == 'Y' && objectType && objectType == 'PJT'){
				loadPjtTypeTabHtml(1, objectId, objectType, 'N', parentName);
			}
			
			$('#codeSign').on('input', function(event) {
				if($(this).val()){
					$('.examples').removeClass('hide');
				}else{
					$('.examples').addClass('hide');
				}
				$('.codeSign').text($(this).val());
			});
		});
		
		$("#operate").html5Validate(function() {
			var isContinue = $('#isContinue').val();
			$.ajax({
				cache : true,
				type : "POST",
				url : "/type/save",
				data : $('#operate').serialize_plus(),// 你的formid
				async : false,
				success : function(data) {
					if (data.code == 0) {
						if(isContinue && isContinue == 'Y') {
							resetPreTypeList(data.id);
							$('input[name="name"]').val('');
						}else {
							parent.layer.msg('操作成功');
							var isNotCloseWindow = $('#isNotCloseWindow').val();
							if(!(isNotCloseWindow && isNotCloseWindow == 'Y')) {
								returnBackAndReLoad(false, false);
							}
						}
					} else {
						parent.layer.msg(data.msg);
					}
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate('TYPE');
			}
		});
		
		function resetPreTypeList(selectId) {
			$.ajax({
				cache : true,
				type : "POST",
				url : "/type/getPreTypeList",
				data : {
					'objectType' : $('#objectType').val(),
					'selectId': selectId,
					'parentId': $('#parentId').val()
				},
				async : false,
				success : function(data) {
					if(data) {
						var optionHtml = '<option value="">请选择</option>';
						for(var i = 0; i < data.length; i++) {
							optionHtml += '<option selected="'+data[i].checked+'" data-content="'+data[i].text+'" value="'+data[i].id+'"></option>';
						}
						$('#preId').html(optionHtml).selectpicker('refresh').selectpicker('val', selectId);
					}
				}
			});
		}
		
	</script>
	
</body>
</html>
