{
  "masterBranch": "main",
  "releaseBranch": "release",
  "testBranch": "test",
  "testBranchSec": null,
  "featurePrefix": "feature/",
  "hotfixPrefix": "hotfix/",
  "tagPrefix": "",
  "releaseFinishIsDeleteRelease": false,
  "releaseFinishIsDeleteFeature": false,
  "needTag": true,
  "dingtalkToken": "",
  "language": "EN"
}