<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include-back :: header"></head>
<link rel="stylesheet" href="/css/theme/blue/theme.css"/>
<link rel="stylesheet" href="/css/common/skin.css"/>

<style>
	.checkbox label {
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    padding-left: 27px;
	    margin-top: 6px;
	}
</style>

<!-- 复选框 -->
<!-- 访问地址： http://127.0.0.1:8080/demo?demoType=checkbox -->
<body class="fixed-sidebar full-height-layout theme-blue" style="overflow: hidden">
 	
 	<div class="checkbox">
	    <input id="checkbox1" type="checkbox" name="box">
	    <label for="checkbox1">Unchecked</label>
	</div>
 	<div class="checkbox">
	    <input id="checkbox5" type="checkbox">
	    <label for="checkbox5">Unchecked</label>
	</div>
	
	<div th:include="include-back :: footer"></div>
</body>
</html>
