<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include-back :: header"></head>

<!-- 单选框 -->
<!-- 访问地址： http://127.0.0.1:8080/demo?demoType=radio -->
<body class="fixed-sidebar full-height-layout theme-blue" style="overflow: hidden" >
 	
 	<div class="radio">
	    <input type="radio" name="radio1" id="radio1" value="option1" style="width:10px;">
	    <label for="radio1">
	        Radio is off
	    </label>
	    <input type="radio" name="radio1" id="radio2" value="option2" style="width:10px;">
	    <label for="radio2">
	        Radio is off
	    </label>
	    <input type="radio" name="radio1" id="radio3" value="option3" style="width:10px;">
	    <label for="radio3">
	        Radio is off
	    </label>
	</div>
 	<div class="radio">
	    <input type="radio" name="radio5" id="radio5" value="option5" style="width:10px;">
	    <label for="radio5">
	        Radio is off
	    </label>
	</div>
	
	<div th:include="include-back :: footer"></div>
</body>
</html>
