<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<style>
	.pull-left.t-columns{width:250px;padding-top:3px;}
</style>
<head th:include="include::listHeaderContent"></head>
<style>
	
</style>

<body th:classappend="${session.theme}">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12 pl10">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar mb10"> 
						<div class="columns pull-left t-columns">
							<select id="businessType" class="selectpicker" name="businessType" data-live-search="true" maxHeight="400" data-live-search-style="begins" title="请选择" onchange="changeBusinessType($(this))">
								<optgroup label="业务流程">
									<option th:each="select:${selectList}" th:if="${select.type eq 'WORKFLOW'}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</optgroup>
								<optgroup label="业务模块">
									<option th:each="select:${selectList}" th:if="${select.type eq 'ENTITY'}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</optgroup>
							</select>
						</div>
						
						<div class="columns columns-right btn-group pull-right t-columns">
						</div>
						<div class="pull-right search t-columns mr5">
							<input class="form-control input-outline form-search" type="text" placeholder="搜索">
						</div>
						<div class="clear"></div>
					</div>
					<table grid-manager="demoOne" id="grid-table"></table>
				</div>
				
			</div>
		</div>
	</div>
	<div class="btn-box hide">
		<div class="layui-layer-btn layui-submit-btn">
			<input type="submit" id="submit" class="layui-layer-btn0 btns cp" onClick="saveOrCancelRelateObject()" th:value="#{common.save}"/>
			<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}"></a>
		</div>
	</div>
	<input type="hidden" id="hasExistIds" name="hasExistIds" th:value="${selectIds}"/>
	<input type="hidden" id="selectIds" name="selectIds" th:value="${selectIds}"/>
	<input type="hidden" id="selectNames" name="selectNames"/>
	<input type="hidden" id="objectType" name="objectType" th:value="${objectType}"/>
	<input type="hidden" id="relateType" name="relateType" th:value="${relateType}"/>
	<input type="hidden" id="objectId" name="objectId" th:value="${objectId}"/>
	<input type="hidden" id="relateObjectType" name="relateObjectType" />
	<input type="hidden" id="isSign" name="isSign" th:value="${isSign}"/>
	<input type="hidden" id="trackType" name="trackType" th:value="${trackType}"/>
	
	<div>
		<script type="text/javascript">
			var rights = '';
		</script>
	</div>
	
	<div th:include="include::listFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; type = [[${param.type}]];</script>
	<script type="text/javascript">
		$(function() {
			loadTable($('#relateType').val());
			
			$('.btn-box').removeClass('hide');
			
			$('.close-btn').click(function() {
				var index = top.layer.getFrameIndex(window.name)
				top.layer.close(index);
			});
		});
		
		function changeBusinessType($obj) {
			var objectType = $obj.val();
			loadTable(objectType);
		}
		
		function loadTable(objectType) {
			$('#relateObjectType').val(objectType);
			var $gridTable = $('#grid-table');
			if($gridTable.closest('.table-wrap').length) {
				$gridTable.initTable('destroy');
			}
			$gridTable.initTable({
				model: objectType,
				rights: rights,
				supportPage: true,
				supportTree: false,
				queryObject: 'RELATE-OBJECT',
				objectId: $('#objectId').val(),
				objectType: $('#objectType').val(),
				supportCheckbox: true
			});
		}
		
		//保存或取消关联对象
		var flag = true, objectType= '', delIds = '', newIds = '', preId = '';
		function saveOrCancelRelateObject() {
			var selectIds = $('#selectIds').val(), hasExistIds = $('#hasExistIds').val();
			objectType = $('#objectType').val();
			if(hasExistIds) {
				if(selectIds) {
					var selectIdArry = selectIds.split(',');
					for(var i = 0; i < selectIdArry.length; i++) {
						if(hasExistIds.indexOf(selectIdArry[i]) < 0) {
							if(newIds) {
								newIds += ',' + selectIdArry[i];
							}else {
								newIds = selectIdArry[i];
							}
						}
					}
					
					//判断是关联对象的同时，是否删除对象
					var hasExistIdArry = hasExistIds.split(',');
					for(var i = 0; i < hasExistIdArry.length; i++) {
						if(selectIds.indexOf(hasExistIdArry[i]) < 0) {
							if(delIds) {
								delIds += ',' + hasExistIdArry[i];
							}else {
								delIds = hasExistIdArry[i];
							}
						}
					}
				}else {
					delIds = hasExistIds;
				}
			}else {
				newIds = selectIds;
			}
			
			if(delIds) {
				$.ajax({
					url : "/getRelateObjectName",
					type : "post",
					data : {'ids': delIds, 'objectType': $('#relateObjectType').val()},
					async : false,
					success : function(r) {
						confirm('确定取消关联 ' + r + ' 吗？', confirmSaveOrDelRelateObject);
					}
				});
			}else {
				confirmSaveOrDelRelateObject();
			}
		}
		
		//保存链接字段
		function confirmSaveOrDelRelateObject() {
			var isSign = $('#isSign').val();
			if(isSign && isSign == 'Y') {
				$.ajax({
					cache : true,
					type : "POST",
					url : "/getRelateObject",
					data : {'selectIds': newIds, 'relateObjectType': $('#relateObjectType').val()},
					async : false,
					success : function(data) {
						var index = top.layer.getFrameIndex(window.name)
						top.layer.close(index, 'isSign', data.relateInfo);
						parent.layer.msg(data.msg, data.code);
					}
				});
			}else {
				$.ajax({
					cache : true,
					type : "POST",
					url : "/saveOrDelRelateObject",
					data : {'objectId':$('#objectId').val(), 'objectType': $('#objectType').val(), 'selectIds': newIds, 'delIds': delIds, 'relateObjectType': $('#relateObjectType').val()},
					async : false,
					success : function(data) {
						if (data.code == 0) {
							var trackType = $('#trackType').val();
							var index = top.layer.getFrameIndex(window.name)
							top.layer.close(index, trackType);
							parent.layer.msg(data.msg, data.code);
						} else {
							parent.layer.msg(data.msg, data.code);
						}
						hideLoading();
					}
				});
			}
		}
		
	</script>	
	
</body>
</html>