<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/form/form.css"/>
<head th:include="include::headerContent"></head>


<body class="layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<form action="" id="operate">
			<input type="hidden" name="id" id="id" th:value="${id}"/>
			<ul class="page-ul">
				<li class="field-li r content-whole odd" field="username" htype="TEXT">
					<div class="field-div field-label"><span class="title" th:text="#{login.userName}"></span></div>
					<div class="field-div field-content" th:text="${user.username}"></div>
				</li>
				<li class="field-li content-whole" field="password" htype="TEXT">
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="旧密码"></span></div>
					<div class="field-div field-content">
						<input class="form-control" name="oldPassword" type="password" placeholder="" autocomplete="off"  htype="password" id="oldPassword" required>
						<i class="zmdi zmdi-eye-off"></i>
					</div>
				</li>
				<li class="field-li content-whole" field="password" htype="TEXT">
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="新密码"></span></div>
					<div class="field-div field-content">
						<input class="form-control" name="password" type="password" placeholder="" autocomplete="off"  htype="password" id="password" required>
						<i class="zmdi zmdi-eye-off"></i>
					</div>
				</li>
				<li class="field-li content-whole" field="cfmPassword" htype="TEXT">
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="确认新密码"></span></div>
					<div class="field-div field-content">
						<input class="form-control" name="cfmPassword" type="password" placeholder="" autocomplete="off"  htype="password" id="cfmPassword" required>
						<i class="zmdi zmdi-eye-off"></i>
					</div>
				</li>
			</ul>
			
			<div class="btn-box hide">
				<div class="layui-layer-btn layui-submit-btn">
					<input type="submit" id="submit" class="layui-layer-btn0 btns cp" th:value="#{common.save}"/>
					<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" ></a>
				</div>
			</div>
		</form>
	
	</div>
	
	
	<div th:include="include::footerContent"></div>
	<script th:inline="javascript"> 
		var ctx = [[@{/}]], parentName = [[${param.parentname}]], type = [[${param.type}]];
			
		
	</script>
	<script src="/js/plugins/autosize/textSum.min.js"></script>
	<script src="/js/form/switch.js"></script>
	<script src="/js/form/form.js"></script>
	<script src="/js/form/jquery-html5Validate.js"></script>
	
	<script>
		$(function() {
			initFormControl('USER');
			
			$('.btn-box').removeClass('hide');
		});
		
		$("#operate").html5Validate(function() {
			$.ajax({
				cache : true,
				type : "POST",
				url : "/sys/user/savePassword",
				data : $('#operate').serialize(),// 你的formid
				async : false,
				success : function(data) {
					if(data.code == 0) {
						parent.layer.closeAll();
						parent.layer.msg(data.msg);
					} else {
						$('#oldPassword').testRemind(data.msg);
						$('#oldPassword').focus();
					}
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate('USER');
			}
		});
	</script>
	
</body>
</html>