<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::formHeaderContent"></head>

<body class="layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<form action="" id="operate" class="pb100">
			<input type="hidden" id='id' name="id" th:value="${id}"/>
			<input type="hidden" id='objectType' name="objectType" th:value="${objectType}"/>
			
			<ul class="page-ul">
				<li class="field-li content-whole r" field="name" htype="TEXT">
					<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="原名称"></span></div>
					<div class="field-div field-content" th:text="${name}"></div>
				</li>
				<li class="field-li content-whole" field="name" htype="TEXT">
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="新名称"></span></div>
					<div class="field-div field-content textWrap wordSumTotal">
						<input class="form-control" name="name" type="text" th:value="${name}" placeholder="请输入文件夹名称" autocomplete="off"  htype="TEXT" required="required" maxlength="128">
					</div>
				</li>
			</ul>
			
			<div class="btn-box hide">
				<div class="layui-layer-btn layui-submit-btn">
					<input type="submit" class="layui-layer-btn0 btns cp" th:value="保存" />
					<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}"></a>
				</div>
			</div>
		</form>
	</div>
	
	<div th:include="include::formFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]], parentName = [[${param.parentname}]], objectType = [[${objectType}]]</script>
	
	<script>
		$(function() {
			initFormControl(objectType);
			
			$("#operate").html5Validate(function() {
				$.ajax({
					cache : true,
					type : "POST",
					url : "/folder/saveRenameFolder",
					data : $('#operate').serialize_plus(),// 你的formid
					async : false,
					success : function(data) {
						if (data.code == 0) {
							var index = parent.layer.getFrameIndex(window.name);
							if(parentName && parentName[0]) {
								var parentFrame = top.frames[parentName[0]];
								parentFrame.reLoadFolder(false, $('#objectType').val());
								parent.layer.close(index);
							}else{
								parent.layer.close(index, data.id);
							}
							parent.layer.msg(data.msg);
						} else {
							parent.layer.msg(data.msg);
						}
						
						hideLoading();
					}
				});
			}, {
				validate: function() {
					return customValidate($('#objectType').val());
				}
			});
		});
		
	</script>
	
</body>
</html>