<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::headerContent"></head>

<link rel="stylesheet" href="/css/plugins/summernote/summernote.css"/>
<link rel="stylesheet" href="/css/form/cascader.css"/>
<link rel="stylesheet" href="/css/form/form.css"/>
<link rel="stylesheet" href="/css/form/switch.css"/>
<link rel="stylesheet" href="/css/form/bootstrap-select.css"/>
<link rel="stylesheet" href="/css/font-awesome.min.css">


<body class="layer-body">
	
	<div class="layer-box">
		<form action="" id="operate">
			<input type="hidden" id="isContinue" value=""/>
			<ul class="page-ul">
			#foreach($column in $columns)
			#if($column.columnName != $pk.columnName)
				<li class="field-li content-whole" field="${column.attrname}" htype="${column.fieldType}">
				#if($column.fieldType == 'TEXT')
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="${column.comments}+#{common.colon}"></span><div class="field-div field-help"></div></div>
					<div class="field-div field-content textWrap wordSumTotal">
						<input class="form-control" name="${column.attrname}" type="text" placeholder=" " autocomplete="off"  htype="TEXT" maxlength="100" required>
					</div>
				#end
				#if($column.fieldType == 'NUMBER' || $column.fieldType == 'INT')
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="${column.comments}+#{common.colon}"></span><div class="field-div field-help"></div></div>
					<div class="field-div field-content-num">
						<div class="num-icon btn-skin"><i class="zmdi zmdi-minus"></i></div>
						<input type="number" name="${column.attrname}" class="num-input" placeholder="0"/>
						<div class="num-icon btn-skin"><i class="zmdi zmdi-plus"></i></div>
					</div>
				#end
				#if($column.fieldType == 'DATE')
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="${column.comments}+#{common.colon}"></span><div class="field-div field-help"></div></div>
					<div class="field-div field-content">
						<input class="form-control form-control-date" name="${column.attrname}" type="text" placeholder="" autocomplete="off" readonly="readonly" htype="DATE">
						<i class="zmdi zmdi-calendar"></i>
					</div>
				#end
				#if($column.fieldType == 'AREA')
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="${column.comments}+#{common.colon}"></span><div class="field-div field-help"></div></div>
					<div class="field-div field-content textWrap wordSumTotal">
						<textarea rows="8" class="input_textarea" name="${column.attrname}" maxlength="1000"></textarea>
					</div>
				#end
				#if($column.fieldType == 'DEPT' || $column.fieldType == 'PJT' || $column.fieldType == 'PRD')
					<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="${column.comments}+#{common.colon}"></span><div class="field-div field-help"></div></div>
					<div class="field-div field-content">
						<input type="hidden" id="_${column.attrname}" name="${column.attrname}">
						<input class="form-control form-control-popup" name="${column.attrname}Name" th:tagName="#{sys.user.dept.select}" type="text" placeholder="" autocomplete="off" readonly="readonly" htype="DEPT"  required>
						<i class="zmdi zmdi-search"></i>
					</div>
				#end
				</li>
				#end
				#end
			</ul>
			
			<div class="btn-box hide">
				<div class="layui-layer-btn layui-submit-btn">
					<input type="submit" id="submit" class="layui-layer-btn0 btns cp" onClick="$('#isContinue').val('N')" th:value="#{common.save}"/>
					<input type="submit" id="submitAndNew" class="layui-layer-btn0 btns cp" onClick="$('#isContinue').val('Y')" th:value="#{common.saveAndNew}"/>
					<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}"></a>
				</div>
			</div>
		</form>
	
	</div>
	
	
	<div th:include="include::footerContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; type = [[${param.type}]];</script>
	
	<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/plugins/datapicker/laydate.js"></script>
	<script src="/js/form/cascader.js"></script>
	<script src="/js/form/switch.js"></script>
	<script src="/js/plugins/autosize/textSum.min.js"></script>
	<script src="/js/form/form.js"></script>
	<script src="/js/form/jquery-html5Validate.js"></script>
	<script src="/js/form/bootstrap-select.js"></script>
	
	<script>
		$(function() {
			initFormControl('${classname}');
			
			$('.btn-box').removeClass('hide');
		});
		
		$("#operate").html5Validate(function() {
			var isContinue = $('#isContinue').val();
			
			$.ajax({
				cache : true,
				type : "POST",
				url : "/${pathName}/${classname}/save",
				data : $('#operate').serialize(),// 你的formid
				async : false,
				success : function(data) {
					if (data.code == 0) {
						if(parentName && parentName[0]) {
							var parentFrame = top.frames[parentName[0]];
							parentFrame.reLoad();
						}
						if(isContinue && isContinue == 'Y') {
						}else {
							parent.layer.msg(data.msg);
							parent.layer.closeAll();
						}

					} else {
						parent.layer.msg(data.msg);
					}
					
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate();
			}
		});
		
	</script>
	
</body>
</html>
