<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/list/list.filter.css">
<link rel="stylesheet" href="/css/list/gm.css">
<style>
	.li-ul{margin:0px;padding:0px;width:100%;}
	.table-wrap {
	    min-height: 100px!important;
	}
	.nextContent, .layui-layer-btn .btns.nextContent{display:none;}
	.filter-box .filter-middle .from-basic .form-control{border:1px solid #e5e6e7!important;padding-left:25px!important;padding-bottom:6px!important;}
</style>
<head th:include="include::formHeaderContent"></head>

<body class="layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<form action="" id="operate">
			<input type="hidden" id="isContinue" value=""/>
			<input type="hidden" id="id" name="id" th:value="${rewCheckResult.id}"/>
			<input type="hidden" id="isEdit" name="isEdit" th:value="${isEdit}"/>
			<ul class="page-ul">
				<li class="field-li content-whole r" field="name" htype="TEXT">
					<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="名称"></span></div>
					<div class="field-div field-content" th:text="${rewCheckResult.name}"></div>
				</li>
				<li class="field-li content-whole r odd" field="preId" htype="SELECT">
					<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="前置检查结果"></span></div>
					<div class="field-div field-content" th:text="${rewCheckResult.preName}"></div>
				</li>
				<li class="field-li content-whole r" field="remark" htype="AREA">
					<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="描述"></span></div>
					<div class="field-div field-content" th:text="${rewCheckResult.remark}"></div>
				</li>
			</ul>
			
			<div class="btn-box hide">
				<div class="layui-layer-btn layui-submit-btn">
					<input type="button" class="layui-layer-btn0 btns" th:value="编辑" onclick="editCheckResult()"/>
					<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}"></a>
				</div>
			</div>
		</form>
	
	</div>
	
	<div th:include="include::formFooterContent"></div>
	<script src="/js/list/jquery.ui.widget.min.js"></script>
	<script src="/js/list/list.filter.js"></script>
	<script src="/js/list/gm.js"></script>
	<script src="/js/list/list.table.js"></script>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]];</script>
	
	<script>
		$(function() {
			initFormControl('checkResult');
		});
		
		$("#operate").html5Validate(function() {
			$.ajax({
				cache : true,
				type : "POST",
				url : "/rew/saveOrUpdateImportant",
				data : $('#operate').serialize(),// 你的formid
				async : false,
				success : function(data) {
					var isContinue = $('#isContinue').val();
					if (data.code == 0) {
						if(parentName && parentName[0]) {
							var parentFrame = top.frames[parentName[0]];
							parentFrame.reLoad(data.id);
						}
						if(isContinue && isContinue == 'Y') {
							resetImportantList(data.id);
							$('#_name').val('');
						}else {
							var index = parent.layer.getFrameIndex(window.name)
							parent.layer.msg(data.msg);
							parent.layer.close(index);
						}

					} else {
						parent.layer.msg(data.msg);
					}
					
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate();
			}
		});

		function getCurRowId() {
			return $('.table-wrap tbody tr.selected').attr('id');;
		}
		
		function editCheckResult(){
			var index = parent.layer.getFrameIndex(window.name)
			parent.layer.close(index);
			top.layer.open({
				type : 2,
				title : '编辑检查结果',
				maxmin : true,
				shadeClose : false, // 点击遮罩关闭层
				area : ['862px', '500px'],
				content : 'rew/addOrEditCheckResult/'+$('#id').val()+'?parentname=' + parentName,
			});
		}
	</script>
	
</body>
</html>
