<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/list/list.filter.css">
<link rel="stylesheet" href="/css/list/gm.css">
<style>
	.li-ul{margin:0px;padding:0px;width:100%;}
	.table-wrap {
	    min-height: 100px!important;
	}
	.nextContent, .layui-layer-btn .btns.nextContent{display:none;}
	.filter-box .filter-middle .from-basic .form-control{border:1px solid #e5e6e7!important;padding-left:25px!important;padding-bottom:6px!important;}
</style>
<head th:include="include::formHeaderContent"></head>

<body class="windowPage layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<form action="" id="operate">
			<input type="hidden" id="isContinue" value=""/>
			<input type="hidden" id="id" name="id" th:value="${rewPoint.id}"/>
			<input type="hidden" id="orderNum" name="orderNum" th:value="${rewPoint.orderNum}"/>
			<input type="hidden" id="isEdit" name="isEdit" th:value="${isEdit}"/>
			<input type="hidden" id="model" name="model" value="REWPOINT"/>
			<input type="hidden" id="tableHeightAuto" name="tableHeightAuto" value="Y"/>
			<div class="layout-box new">
				<div class="layout-left">
					<ul class="page-ul">
						<li class="field-li content-whole sign" field="fieldProperty" htype="SIGN">
							<div class="field-div field-sign-title3">
								<i class="zmdi zmdi-hdr-strong mr10"></i>
								<div class="title" th:text="基本属性"></div>
							</div>
							<div class="field-div field-sign-content"></div>
						</li>
						<li class="field-li content-whole r" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="名称"></span></div>
							<div class="field-div field-content" th:text="${rewPoint.name}"></div>
						</li>
						<li class="field-li content-whole r odd" field="prePointId" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="前置评审点"></span></div>
							<div class="field-div field-content" th:text="${rewPoint.preName}"></div>
						</li>
						<li class="field-li r content-whole" field="status" htype="TEXT">
							<div class="field-div field-label"><span class="title" th:text="状态"></span></div>
							<div class="field-div field-content" th:text="${rewPoint.status} eq 'IN'?'未发布':'使用中'"></div>
						</li>
		<!-- 				<li class="field-li r content-whole odd" field="isShowCategory" htype="TEXT"> -->
		<!-- 					<div class="field-div field-label"><span class="title" th:text="显示分类"></span></div> -->
		<!-- 					<div class="field-div field-content" th:text="${rewPoint.isShowCategory} eq 'Y'?'是':'否'"></div> -->
		<!-- 				</li> -->
						<li class="field-li content-whole r odd" field="remark" htype="AREA">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="描述"></span></div>
							<div class="field-div field-content" th:text="${rewPoint.remark}"></div>
						</li>
						<li class="field-li r content-whole sign nextContent" field="rewElement" htype="SIGN" th:style="${isEdit} eq 'N' ? 'display:none;':'' ">
							<div class="field-div field-sign-title3">
								<i class="zmdi zmdi-hdr-strong mr10"></i>
								<div class="title" th:text="评审类别"></div>
							</div>
							<div class="field-div field-sign-content mt10">
								<table grid-manager="demoOne" id="category-table" ></table>
							</div>
						</li>
					</ul>
					
					<div class="formBtn hide">
						<div class="layui-layer-btn layui-submit-btn">
							<input type="button" class="layui-layer-btn0 btns" th:value="编辑" onclick="editRewPoint()"/>
							<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" onclick="layerWinCancel($(this))"></a>
						</div>
					</div>
					
				</div>
			</div>
			
		</form>
	
	</div>
	
	<div>
		<script type="text/javascript">
			var rights = 'O';
		</script>
	</div>
	
	<div th:include="include::formFooterContent"></div>
	<script src="/js/list/jquery.ui.widget.min.js"></script>
	<script src="/js/list/list.filter.js"></script>
	<script src="/js/list/gm.js"></script>
	<script src="/js/list/list.table.js"></script>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; type = [[${param.type}]];</script>
	
	<script>
		$(function() {
			initFormControl('point');
			
			loadElementList();
			
			controlBtnShowPosition();
		});
		
		function loadElementList() {
			var id = $('#id').val(), $table = $('#category-table'), $tableWrap = $table.closest('.table-wrap');
			if(id) {
				if($tableWrap.length) {
					$tableWrap.show();
				}else {
					$table.initTable({
						tableId:'category-table',
						model:'REWCATEGORY',
						supportPage: true,
						objectId: $('#id').val(),
						rights: rights,
					});
				}
			}
		}
		
		function editRewPoint() {
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
			editEntity('REWPOINT', $('#id').val(), 'REWPOINT', parentName);
		}
		
		function openEntity(module, id) {
			top.layer.open({
				type : 2,
				title : '查看评审类别',
				maxmin : true,
				shadeClose : false, // 点击遮罩关闭层
				area : [ '700px', '600px' ],
				content : 'rew/viewCategory/'+id+'?parentname=' + window.name,
			});
		}
	</script>
	
</body>
</html>
