<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/form/easyUpload.min.css">
<style>
	.down_templete{color:var(--theme);}
	.down_templete:hover{opacity:0.7;}
	
	.ul-tip-box{
		counter-reset: my-counter;
  		list-style-type: none;
  		padding-left: 1px;
	}
	.ul-tip-box li::before {
	  counter-increment: my-counter;
	  content: counter(my-counter) "、";
	  margin-right: 0px;
	}
</style>
<head th:include="include::formHeaderContent"></head>

<body class="layer-body" th:classappend="${session.theme}">
	
	<form action="" id="operate">
		<input type="hidden" id="importLicenseInfo" name="importLicenseInfo"/>
		<div class="layer-box">
			<div id="importLicense" class="easy-upload mt10 mb10"></div>
			<ul class="page-ul">
				<li class="field-li content-whole sign" field="errorInfo" htype="SIGN" style="display:none">
					<div class="field-div field-sign-title4 remark-content" style="border:1px solid rgb(255, 87, 34);background-color:white; color:rgb(255, 87, 34);">
						<div class="tip-title mb10"><i class="zmdi zmdi-alert-triangle mr10 fz20" style="color:rgb(255, 87, 34);"></i><span class="fz16 show-name" style="color:rgb(255, 87, 34);">数据验证失败：</span></div>
						<div class="tip-content"></div>
					</div>
					<div class="field-div field-sign-content"></div>
				</li>
			</ul>
			
			<div class="btn-box hide">
				<div class="layui-layer-btn layui-submit-btn">
					<input type="submit" id="submit" class="layui-layer-btn0 btns cp" th:value="确定"/>
					<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}"></a>
				</div>
			</div>
		</div>
	</form>
	
	<div th:include="include::formFooterContent"></div>
	<script src="/js/form/easyUpload.min.js"></script>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; type = [[${param.type}]];</script>
	
	<script>
		$(function() {
			initUpload();
			$('.btn-box').removeClass('hide');
			
			$("#operate").html5Validate(function() {
				$('.easy_upload_upbtn').click();
			}, {
				validate: function() {
					var flag = true;
					if(!$('.easy_upload_queue_item:visible').length){
						flag = false;
						var $uploadSelect = $('.easy_upload_select');
						$uploadSelect.testRemind('请选择文件');
					}
					return flag;
				}
			});
		});
		
		function initUpload() {
			var formParams = {};
			$('#operate input[type="hidden"]').each(function() {
				var paramName = $(this).attr('name');
				var paramValue = $(this).val();
				if (paramName) {
				    formParams[paramName] = paramValue;
				}
			});
			$('#importLicense').easyUpload({
		        allowFileTypes: '*.lic;',//允许上传文件类型，格式';*.doc;*.pdf'
		        allowFileSize: '30',//允许上传文件大小(KB)
		        selectText: '选择许可文件(*.lic)',//选择文件按钮文案
		        multi: false,//是否允许多文件上传
		        multiNum: '2',//多文件上传时允许的文件数
		        showNote: true,//是否展示文件上传说明
		        note: '提示：此操作会影响系统正常运行，请谨慎！',//文件上传说明
		        isRequired:'Y',
		        showPreview: true,//是否显示文件预览
		        url: '/sys/company/importLicense',//上传文件地址
		        fileName: 'file',//文件filename配置参数
		        formParam: formParams,
		        timeout: 30000,//请求超时时间
		        okCode: 200,//与后端返回数据code值一致时执行成功回调，不配置默认200
		        changeFunc: function(file) {
		        	$('.field-li[field="errorInfo"]').hide();
		        },
		        successFunc: function(res) {
		        	var index = parent.layer.getFrameIndex(window.name);
		        	parent.layer.close(index, 'LICENSE');
					parent.layer.msg(res.msg);
		        	hideLoading();
		        },//上传成功回调函数
		        errorFunc: function(res) {
		        	var $errorInfo = $('.field-li[field="errorInfo"]');
		        	$errorInfo.find('.tip-content').html(res.msg);
		        	$errorInfo.show();
		        	hideLoading();
		        },//上传失败回调函数
		        deleteFunc: function(res) {
		        	$('.field-li[field="errorInfo"]').hide();
		        }//删除文件回调函数
		    });
			
		}
	</script>
	
</body>
</html>