<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SSITAO Code Platform - 管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}">
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin" id="layoutAdmin">
        <!-- 头部区域 -->
        <div class="layui-header">
            <div class="layui-logo">
                <span>SSITAO Code</span>
            </div>

            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" id="flexibleBtn" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" id="refreshBtn" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <div class="user-info">
                            <span class="user-avatar" id="userAvatar">U</span>
                            <span id="userName">用户</span>
                        </div>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" id="profileBtn">基本资料</a></dd>
                        <dd><a href="javascript:;" id="passwordBtn">修改密码</a></dd>
                        <hr>
                        <dd><a href="/logout" style="text-align: center;">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" id="aboutBtn"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                    <span>SSITAO Code</span>
                </div>
                <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <!-- 菜单将通过JS动态加载 -->
                </ul>
            </div>
        </div>

        <!-- 内容主体 -->
        <div class="layui-body" id="LAY_app_body">
            <!-- Tab 标签 -->
            <div class="layui-tab" lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="tabTitle">
                    <li class="layui-this" lay-id="/console" onclick="openTab('/console', '控制台', this)">控制台</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="/console" frameborder="0" class="layui-admin-iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
layui.config({
    base: '/'
}).use(['element'], function(){
    var $ = layui.$
    ,element = layui.element;

    // 初始化
    init();

    // 加载用户信息
    loadUserInfo();

    // 加载菜单
    loadMenus();

    // 侧边栏伸缩
    $('#flexibleBtn').on('click', function(){
        var isFlex = $('#layoutAdmin').hasClass('admin-flexible');
        if (isFlex) {
            $('#layoutAdmin').removeClass('admin-flexible');
            $('#LAY_app_flexible').removeClass('layui-icon-spread-left');
            $('#LAY_app_flexible').addClass('layui-icon-shrink-right');
        } else {
            $('#layoutAdmin').addClass('admin-flexible');
            $('#LAY_app_flexible').removeClass('layui-icon-shrink-right');
            $('#LAY_app_flexible').addClass('layui-icon-spread-left');
        }
    });

    // 刷新
    $('#refreshBtn').on('click', function(){
        var icon = $(this).find('i');
        icon.addClass('refreshing');
        setTimeout(function(){
            location.reload();
        }, 1000);
    });

    // 加载用户信息
    function loadUserInfo() {
        $.ajax({
            url: '/api/auth/userinfo',
            type: 'GET',
            success: function(res) {
                if (res.code === 200 && res.data) {
                    var userName = res.data.userName || '用户';
                    $('#userName').text(userName);
                    $('#userAvatar').text(userName.charAt(0).toUpperCase());
                }
            }
        });
    }

    // 加载菜单
    function loadMenus() {
        $.ajax({
            url: '/api/menus',
            type: 'GET',
            success: function(res) {
                if (res.code === 200) {
                    renderMenus(res.data || []);
                }
            },
            error: function() {
                // 加载默认菜单
                renderMenus(getDefaultMenus());
            }
        });
    }

    // 渲染菜单
    function renderMenus(menus) {
        var html = '';
        for (var i = 0; i < menus.length; i++) {
            var menu = menus[i];
            var hasChildren = menu.children && menu.children.length > 0;
            var isHeader = menu.isHeader;

            if (isHeader) {
                // 目录
                html += '<li class="layui-nav-item">' +
                        '<a href="javascript:;" lay-tips="' + menu.name + '" lay-direction="2">' +
                        '<i class="layui-icon ' + (menu.icon || 'layui-icon-app') + '"></i>' +
                        '<cite>' + menu.name + '</cite>' +
                        '</a>';
                if (hasChildren) {
                    html += '<dl class="layui-nav-child">';
                    for (var j = 0; j < menu.children.length; j++) {
                        var child = menu.children[j];
                        html += '<dd>' +
                                '<a href="javascript:;" onclick="openTab(\'' + child.url + '\', \'' + child.name + '\', this)">' +
                                '<i class="layui-icon ' + (child.icon || 'layui-icon-right') + '"></i>' +
                                '<cite>' + child.name + '</cite>' +
                                '</a>' +
                                '</dd>';
                    }
                    html += '</dl>';
                }
                html += '</li>';
            } else {
                // 菜单
                html += '<li class="layui-nav-item">' +
                        '<a href="javascript:;" lay-tips="' + menu.name + '" lay-direction="2" onclick="openTab(\'' + menu.url + '\', \'' + menu.name + '\', this)">' +
                        '<i class="layui-icon ' + (menu.icon || 'layui-icon-app') + '"></i>' +
                        '<cite>' + menu.name + '</cite>' +
                        '</a>' +
                        '</li>';
            }
        }
        $('#LAY-system-side-menu').html(html);
        element.render('nav');
    }

    // 默认菜单
    function getDefaultMenus() {
        return [
            {
                id: '1',
                name: '控制台',
                icon: 'layui-icon-home',
                url: '/console',
                isHeader: false
            },
            {
                id: '2',
                name: '系统管理',
                icon: 'layui-icon-set',
                isHeader: true,
                children: [
                    { id: '2-1', name: '账号管理', icon: 'layui-icon-user', url: '/iam/account' },
                    { id: '2-2', name: '角色管理', icon: 'layui-icon-group', url: '/iam/role' },
                    { id: '2-3', name: '权限管理', icon: 'layui-icon-auz', url: '/iam/permission' },
                    { id: '2-4', name: '菜单管理', icon: 'layui-icon-menu', url: '/iam/menu' }
                ]
            },
            {
                id: '3',
                name: '用户管理',
                icon: 'layui-icon-user',
                isHeader: true,
                children: [
                    { id: '3-1', name: '用户列表', icon: 'layui-icon-user', url: '/iam/userprofile' },
                    { id: '3-2', name: '组织架构', icon: 'layui-icon-tree', url: '/iam/org' },
                    { id: '3-3', name: '租户管理', icon: 'layui-icon-home', url: '/iam/tenant' }
                ]
            }
        ];
    }

    // 打开Tab
    window.openTab = function(url, title, elem) {
        // 查找是否已存在
        var exists = false;
        $('#tabTitle li').each(function(){
            if ($(this).attr('lay-id') === url) {
                exists = true;
                element.tabChange('layadmin-layout-tabs', url);
                return false;
            }
        });

        if (!exists) {
            element.tabAdd('layadmin-layout-tabs', {
                title: title,
                content: '<iframe src="' + url + '" frameborder="0" class="layui-admin-iframe"></iframe>',
                id: url
            });
            element.tabChange('layadmin-layout-tabs', url);
        }
    };
});
</script>
</body>
</html>
