<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<link rel="stylesheet" href="/css/plugins/summernote/summernote.css"/>
<link rel="stylesheet" href="/css/form/cascader.css"/>
<link rel="stylesheet" href="/css/form/form.css"/>
<link rel="stylesheet" href="/css/form/switch.css"/>
<link rel="stylesheet" href="/css/form/bootstrap-select.css"/>
<link rel="stylesheet" href="/css/font-awesome.min.css">

<style>
	
</style>
<head th:include="include::headerContent"></head>

<body class="windowPage layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<ul class="title-ul">
			<li class="field-li content-whole r title-sign" htype="TEXT">	
				<div class="field-div field-content spec">		
					<div class="return-back" onclick="tabReturnBack($(this));">
						<i class="fa fa-reply mr5"></i><span>返回</span>
					</div>		
					<div class="line"></div>		
					<div class="field-name">新建流程</div>	
				</div>
			</li>
		</ul>
		<form action="" id="operate">
			<input name="id" id="id" type="hidden" value="">
			<input name="objectType" id="objectType" type="hidden" th:value="${workflow.objectType}">
			<div class="layout-box new">
				<div class="layout-left">
					<ul class="page-ul">
						<li class="field-li content-whole" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="流程名称"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<input class="form-control" name="name" type="text" th:value="${workflow.name}" placeholder="请输入流程名称" autocomplete="off"  htype="TEXT" maxlength="100" required="required">
							</div>
						</li>
						<li class="field-li content-whole" field="simpleName" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="流程简称"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<input class="form-control" name="simpleName" type="text" th:value="${workflow.simpleName}" placeholder="请输入流程简称" autocomplete="off"  htype="TEXT" maxlength="100">
							</div>
						</li>
						<li class="field-li content-whole" field="preWorkflowId" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="前置流程"></span></div>
							<div class="field-div field-content">
								<select id="preWorkflowId" class="selectpicker" name="preWorkflowId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${preWorkflowList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="codeRule" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="编号规则"></span></div>
							<div class="field-div field-content code-select code-rule">
								<input class="form-control code-sign" name="codeSign" id="codeSign" type="text" placeholder="请输入编号标识" th:value="${codeSign}" autocomplete="off"  htype="TEXT" maxlength="100" required>
								<select id="firstConnect" class="selectpicker" name="firstConnect" data-live-search-style="begins" data-width="200px" title="请选择连接符" onchange="changeCodeConnect($(this))">
									<option th:each="select:${firstConnectList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
								<select id="middleRule" class="selectpicker" name="middleRule" data-live-search-style="begins" data-width="400px" title="请选择编号规则" onchange="changeMiddleRule($(this))">
									<option th:each="select:${middleRuleList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
								<select id="secondConnect" class="selectpicker" name="secondConnect" data-live-search-style="begins" data-width="200px" title="请选择连接符" onchange="changeCodeConnect($(this))">
									<option th:each="select:${secondConnectList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
								<select id="codeSuffix" class="selectpicker" name="codeSuffix" data-live-search-style="begins" data-width="400px" title="请选择编号后缀" onchange="changeCodeSuffix($(this))" required>
									<option value="">请选择编号后缀</option>
									<option th:each="select:${codeSuffixList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
							<div class="field-div examples">
								例如：<span class="codeSign" th:text="${codeSign}"></span><span class="firstConnect" th:text="${firstConnect}"></span><span class="middleRule" th:text="${middleRule}"></span><span class="secondConnect" th:text="${secondConnect}"></span><span class="codeSuffix" th:text="${codeSuffix}">000001</span>
							</div>
						</li>
						<li class="field-li check content-whole" field="scope" htype="CHECKBOX">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="应用范围" title="应用范围"></span></div>
							<div class="field-div field-content-check">
								<div class="checkbox">
								    <input type="checkbox" name="scope" id="_scope1" th:value="PJT" data-target="checkbox" th:checked="${#strings.isEmpty(workflow.scope)} ? 'false' : ${#strings.contains(workflow.scope, 'PJT')}" required>
								    <label for="_scope1" th:text="项目" title="项目"></label>
							    </div>
							    <div class="checkbox">
								    <input type="checkbox" name="scope" id="_scope2" value="DEPT" data-target="checkbox" th:checked="${#strings.isEmpty(workflow.scope)} ? 'false' : ${#strings.contains(workflow.scope, 'DEPT')}" >
								    <label for="_scope2" th:text="部门" title="部门"></label>
							    </div>
							</div>
						</li>
						<li class="field-li check content-whole" field="preMenuId" htype="CHECKBOX">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="菜单位置" title="菜单位置"></span></div>
							<div class="field-div field-content">
								<select id="preMenuId" class="selectpicker" name="preMenuId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${menuSelectList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="remark" htype="AREA">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="备注"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<div class="textarea-box">
									<textarea rows="8" class="input_textarea" name="remark" id="remarkContent" maxlength="2048" th:text="${workflow.remark}" placeholder="请输入备注"></textarea>
								</div>
							</div>
						</li>
					</ul>
					
					<div class="formBtn hide">
						<div class="layui-layer-btn layui-submit-btn">
							<input type="submit" class="layui-layer-btn0 btns" th:value="保存"/>
							<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" onclick="tabReturnBack($(this))"></a>
						</div>
					</div>
					
				</div>
			</div>
			
		</form>
	
	</div>
	
	
	<div th:include="include::footerContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; objectType = [[${param.objectType}]];</script>
	
	<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/plugins/datapicker/laydate.js"></script>
	<script src="/js/form/cascader.js"></script>
	<script src="/js/form/switch.js"></script>
	<script src="/js/plugins/autosize/textSum.min.js"></script>
	<script src="/js/form/form.js"></script>
	<script src="/js/form/jquery-html5Validate.js"></script>
	<script src="/js/form/bootstrap-select.js"></script>
	<script src="/js/form/paigusu.min.js"></script>
	<script src="/js/field/field.js"></script>
	
	<script>
		$(function() {
			initFormControl('workflow');
			
			$('.formBtn').removeClass('hide');
			hideLoading();
			
			$('#codeSign').on('change input', function() {
				$('.codeSign').text($(this).val());
			});
		});
		
		$("#operate").html5Validate(function() {
			$.ajax({
				cache : true,
				type : "POST",
				url : "/workflow/saveOrUpdate",
				data : $('#operate').serialize_plus(),// 你的formid
				async : false,
				success : function(data) {
					if (data.code == 0) {;
						if(parentName && parentName[0]) {
							var parentFrame = top.frames[parentName[0]];
							if(parentFrame && typeof parentFrame.returnBackAndReLoad== "function") {
								parentFrame.returnBackAndReLoad(true);
							}
						}else{
							hideLoading();
							returnBackAndReLoad();
						}
					}else {
						parent.layer.msg(data.msg, 1);
					}
					
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate();
			}
		});
 		
	</script>
	
</body>
</html>
