<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>岗位编辑 - HR人力资源</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0"
                },
                "modulename": "hr",
                "controllername": "position",
                "actionname": "edit",
                "jsname": "backend/hr/position",
                "moduleurl": "/hr/org"
            }
        };
    </script>
</head>

<body class="inside-header inside-aside">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="content">
                            <form id="add-form" class="form-horizontal" role="form">
                                <div class="panel panel-default panel-intro">
                                    <div class="panel-heading">
                                        <div class="panel-lead"><em>岗位信息</em></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">所属部门:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="c-deptId" class="form-control" name="row[deptId]" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">岗位编码:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="c-positionCode" class="form-control" name="row[positionCode]" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">岗位名称:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="c-positionName" class="form-control" name="row[positionName]" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">职级:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="c-positionLevel" class="form-control" name="row[positionLevel]" type="text" placeholder="如: P1-P15" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">岗位类型:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <select id="c-positionType" class="form-control selectpicker" name="row[positionType]">
                                                    <option value="">请选择</option>
                                                    <option value="MANAGEMENT">管理岗</option>
                                                    <option value="PROFESSIONAL">专业岗</option>
                                                    <option value="OPERATIONS">操作岗</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">岗位职责:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <textarea id="c-positionSummary" class="form-control" name="row[positionSummary]" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">任职要求:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <textarea id="c-positionRequirement" class="form-control" name="row[positionRequirement]" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">排序:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="c-positionSort" class="form-control" name="row[positionSort]" type="number" value="0" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-2">状态:</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <select id="c-status" class="form-control selectpicker" name="row[status]">
                                                    <option value="NORMAL">正常</option>
                                                    <option value="DISABLED">停用</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group layer-footer">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <input type="hidden" name="row[id]" id="id" />
                                        <input type="hidden" name="row[tenantId]" id="tenantId" value="1" />
                                        <button type="submit" class="btn btn-success btn-embossed">提交</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/require.js" data-main="/assets/js/backend.js"></script>
    <script>
        require.config({
            paths: {
                'backend/hr/position': '/assets/js/backend/hr/position'
            }
        });
    </script>
</body>
</html>
