<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>岗位管理 - HR人力资源</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0"
                },
                "modulename": "hr",
                "controllername": "position",
                "actionname": "index",
                "jsname": "backend/hr/position",
                "moduleurl": "/hr/org"
            }
        };
    </script>
</head>

<body class="inside-header inside-aside">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>岗位管理</h1>
                        </section>
                        <div id="ribbon">
                            <ol class="breadcrumb pull-left">
                                <li><a href="/console" class="addtabsit"><i class="fa fa-dashboard"></i> 控制台</a></li>
                                <li><a href="javascript:;" data-url="hr">HR管理</a></li>
                                <li><a href="javascript:;" data-url="hr/position">岗位管理</a></li>
                            </ol>
                        </div>
                        <div class="content">
                            <div class="panel panel-default panel-intro">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs" data-field="status">
                                        <li class="active"><a href="#tab1" data-value="" data-toggle="tab">全部</a></li>
                                        <li><a href="#tab2" data-value="NORMAL" data-toggle="tab">正常</a></li>
                                        <li><a href="#tab3" data-value="DISABLED" data-toggle="tab">停用</a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab1">
                                            <div class="widget-body no-padding">
                                                <div id="toolbar" class="toolbar">
                                                    <a href="javascript:;" class="btn btn-success btn-add" title="添加">
                                                        <i class="fa fa-plus"></i> 添加
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-primary btn-edit btn-disabled disabled" title="编辑">
                                                        <i class="fa fa-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled" title="删除">
                                                        <i class="fa fa-trash"></i> 删除
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-info btn-refresh" title="刷新">
                                                        <i class="fa fa-refresh"></i> 刷新
                                                    </a>
                                                </div>
                                                <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/require.js" data-main="/assets/js/backend.js"></script>
    <script>
        require.config({
            paths: {
                'backend/hr/position': '/assets/js/backend/hr/position'
            }
        });
    </script>
</body>
</html>
