<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::listHeaderContent"></head>

<body class="gray-bg" th:classappend="${session.theme}">
	<div class="wrapper wrapper-content ">
		<div class="table-list-box"> 
			<div class="table-list">
				<div class="ibox-body">
					<div class="fixed-table-toolbar mb10"> 
						<div class="columns pull-left t-columns">
							<button type="button" class="btn t-btn y-active add" shiro:hasPermission="DEPT:ADD" onclick="addEntity('DEPT')">
								<i class="fa fa-plus mr5"></i>
								<span class="pt1 h18">新建</span>
							</button>
							<button class="btn t-reset-btn add" onclick="expandOrCollapse($(this))" type="button">
								<i class="fa fa-compress mr5"></i>
								<span class="pt1 h18">展开/折叠</span>
							</button>
						</div>
						
						<div class="pull-right search t-columns mr5">
							<input class="form-control input-outline form-search" type="text" placeholder="搜索">
						</div>
						<div class="clear"></div>
					</div>
					<div class="fixed-table-filter"></div>
					
					<table id="grid-table"></table>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<script type="text/javascript">
			var rights = 'O';
		</script>
	</div>
	<div>
		<script type="text/javascript" shiro:hasPermission="DEPT:EDIT">
			rights += ',E';
		</script>
	</div>
	<div>
		<script type="text/javascript" shiro:hasPermission="DEPT:DEL">
			rights += ',D';
		</script>
	</div>
	
	<div th:include="include::listFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]] ; </script>
	
	<script type="text/javascript">
		$(function() {
			var model = 'DEPT';
			var headData = getHeadData(model, 'N', '', '', '');
			if(headData) {
				createSearchConditions(headData.headData, model);
			}
			$('#grid-table').initTable({
				model:'DEPT',
				rights: rights,
				supportPage: false,
				supportTree: true,
				openState:true
			});
		});
		
		function reLoad(){
			GridManager.refreshGrid('grid-table', true);
		}
	</script>
</body>

</html>