<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/list/gm.css">
<head th:include="include::formHeaderContent"></head>
<style>
	.li-ul{margin:0px;padding:0px;width:100%;}
	.table-wrap {
	    min-height: 100px!important;
	}
	.nextContent, .layui-layer-btn .btns.nextContent{display:none;}
	#operate{padding-bottom:0px;}
</style>

<body class="windowPage layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box">
		<form action="" id="operate">
			<input type="hidden" id="id" name="id" th:value="${dataSource.id}"/>
			<input type="hidden" id="objectType" name="objectType" th:value="${dataSource.objectType}"/>
			<input type="hidden" id="tableHeightAuto" name="tableHeightAuto" th:value="Y"/>
			<div class="layout-box new">
				<div class="layout-left">
					<ul class="page-ul">
						<li class="field-li content-whole sign" field="fieldProperty" htype="SIGN">
							<div class="field-div field-sign-title3">
								<i class="zmdi zmdi-hdr-strong mr10"></i>
								<div class="title" th:text="基本属性"></div>
							</div>
							<div class="field-div field-sign-content"></div>
						</li>
						<li class="field-li content-whole r" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="#{field.sourceName}"></span></div>
							<div class="field-div field-content" th:text="${dataSource.name}" ></div>
						</li>
						<li class="field-li content-whole r odd" field="preSourceName" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="#{field.sourcePre}"></span></div>
							<div class="field-div field-content" th:text="${dataSource.preSourceName}" ></div>
						</li>
						<li class="field-li content-whole r" field="linkFieldNames" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="#{field.linkFieldId}"></span></div>
							<div class="field-div field-content" th:text="${linkFieldNames}" ></div>
						</li>
						<li class="field-li r content-whole sign nextContent" field="loginInfo" htype="SIGN" th:style="${isEdit} eq 'N' ? 'display:none;':'' ">
							<div class="field-div field-sign-title3">
								<i class="zmdi zmdi-hdr-strong mr10"></i>
								<div class="title" th:text="选项信息"></div>
							</div>
							<div class="field-div field-sign-content mt10">
								<table grid-manager="demoOne" id="option-table" ></table>
							</div>
						</li>
					</ul>
					
					<div class="formBtn hide">
						<div class="layui-layer-btn layui-submit-btn">
							<input type="button" class="layui-layer-btn0 btns" th:value="编辑" onclick="editDataSource()" th:if="${btnEdit}"/>
							<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" onclick="layerWinCancel()"></a>
						</div>
					</div>
				</div>
			</div>
		</form>
	
	</div>
	
	<div th:include="include::formFooterContent"></div>
	<script src="/js/list/jquery.ui.widget.min.js"></script>
	<script src="/js/list/gm.js"></script>
	<script src="/js/list/list.table.js"></script>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; type = [[${param.type}]];</script>
	
	<script>
		$(function() {
			initFormControl('field');
			
			loadOptionList();
			
			$('.formBtn').removeClass('hide');
		});
		
		function loadOptionList() {
			var id = $('#id').val(), $table = $('#option-table'), $tableWrap = $table.closest('.table-wrap');
			if(id) {
				if($tableWrap.length) {
					$tableWrap.show();
				}else {
					$table.initTable({
						tableId:'option-table',
						model:'DATAOPTION',
						supportPage: false,
						supportTree: true,
						openState: true,
						objectId: id,
						queryObject: $('#objectType').val()
					});
				}
			}
		}
		
		function editDataSource(){
			var url = '/field/addOrEditSource/'+$('#id').val()+'?preId=&objectType='+$('#objectType').val()+'&parentname='+parentName;
			parent.layer.open({
				skin: 'iframeClass',
				type : 2,
				title : title,
				maxmin : false,
				shadeClose : false, // 点击遮罩关闭层
				area : ['100%', '100%'],
				content : url,
				end: function(id, name){
					if(id){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index, 'grid-table');
					}
				}
			});
			
		}
		
	</script>
	
</body>
</html>
