<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<style>
	.field-li[field="showField"] .field-content-check{flex-wrap:wrap;align-items:flex-start!important;flex-direction:column;padding-top:0px!important;}
	.field-li[field="showField"] .field-content-check .checkbox{max-width:400px!important;display:flex;margin-bottom:5px!important;}
	.field-li[field="showField"] .field-content-check .checkbox .widthbox{display:flex;align-items: center;}
	.field-li[field="showField"] .field-content-check .checkbox .widthbox .name{margin-top:5px;margin-right:5px;}
	.field-li[field="showField"] .field-content-check .checkbox label{width:120px;margin-top:10px;}
	.field-li[moduletype="ENTITY"] .workflowField, .field-li[moduletype="WORKFLOW"] .entityField{display:none!important;}
	
	.windowPage .layout-box.new .detail-sign{
		display:block!important;
	}
	.windowPage .layout-box .layout-left{width:100%!important;}
	.windowPage .field-li.content-whole.detail-sign{width:100%!important;}
</style>
<link rel="stylesheet" href="/css/report/report.css">
<head th:include="include::formHeaderContent"></head>

<body class="windowPage layer-body" th:classappend="${session.theme}">
	<div class="layer-box">
		<ul class="title-ul">
			<li class="field-li content-whole r title-sign" htype="TEXT">	
				<div class="field-div field-content spec">		
					<div class="return-back" onclick="tabReturnBack($(this));">
						<i class="fa fa-reply mr5"></i><span>返回</span>
					</div>		
					<div class="line"></div>		
					<div class="field-name" th:text="${dashboard.name}"></div>	
				</div>
			</li>
		</ul>
		<form action="" id="operate" class="pb100">
			<input type="hidden" name="id" id="id" th:value="${dashboard.id}"/>
			<input type="hidden" name="blockType" th:value="CUSTOM"/>
			<input type="hidden" name="params" id="params" value=""/>
			<div class="layout-box">
				<div class="layout-left">
					<ul class="page-ul page-ul2">
						<li class="field-li content-whole detail-sign" field="detailTabs" htype="SIGN">	
							<div class="relevant-tabs tabSign">
								<div class="tab baseInfo-tab active" type="baseInfo" taburl="dashboard/addOrEditDashboard" onclick="intoDashboardTab($(this))">基本信息</div>
								<div class="tab dashboard-tab" type="dashboard" taburl="dashboard/dashboardSet" onclick="intoDashboardTab($(this))">仪表盘配置</div>
							</div>
						</li>
						<li class="field-li content-whole" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="仪表盘名称"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<input class="form-control" name="name" type="text" th:value="${dashboard.name}" placeholder="请输入仪表盘名称" autocomplete="off"  htype="TEXT" maxlength="100" required>
							</div>
						</li>
						<li class="field-li content-whole" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="仪表盘简称"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<input class="form-control" name="simpleName" type="text" th:value="${dashboard.simpleName}" placeholder="请输入仪表盘简称" autocomplete="off"  htype="TEXT" maxlength="100">
							</div>
						</li>
						<li class="field-li content-whole" field="preId" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="前置仪表盘"></span></div>
							<div class="field-div field-content">
								<select id="preId" class="selectpicker" name="preId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="" th:text="#{common.select}"></option>
									<option th:each="select:${preDashboardList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li check content-whole preContent" field="status" htype="RADIO">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="状态"></span></div>
							<div class="field-div field-content-check">
								<div class="radio">
								    <input type="radio" name="status" id="_status1" value="IN" data-target="radio" th:checked="${dashboard.status} eq 'IN'" required>
								    <label for="_status1" th:text="未发布"></label>
							    </div>
							    <div class="radio">
								    <input type="radio" name="status" id="_status2" value="RN" th:checked="${dashboard.status} eq 'RN'">
								    <label for="_status2" th:text="使用中"></label>
							    </div>
							</div>
						</li>
						<li class="field-li check content-whole" field="preMenuId" htype="CHECKBOX">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="菜单位置" title="菜单位置"></span></div>
							<div class="field-div field-content">
								<select id="preMenuId" class="selectpicker" name="preMenuId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${menuSelectList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li content-whole" field="remark" htype="AREA">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="备注" title="备注"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<div class="textarea-box">
									<textarea class="input_textarea" maxlength="1000" name="remark" rows="8" style="padding-bottom: 30px;" th:text="${dashboard.remark}" ></textarea>
								</div>
							</div>
						</li>
						<li class="field-li content-whole center">
							<div class="formBtn hide" style="width:100%;">
								<div class="layui-layer-btn layui-submit-btn">
									<input type="submit" id="submit" class="layui-layer-btn0 btns cp" th:value="#{common.save}"/>
									<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" onclick="tabReturnBack();"></a>
								</div>
							</div>
						</li>
					</ul>
					
					
					
				</div>
			</div>
		</form>
	</div>
	
	<div th:include="include::formFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; type = [[${param.type}]];</script>
	
	<script>
		$(function() {
			initFormControl('REPORT');
			
			controlBtnShowPosition();
			
			resetShowReportList($('#moduleType').val(), $('#moduleIds').val(), $('#selectReportIds').val());
		});
		
		$("#operate").html5Validate(function() {
			$.ajax({
				cache : true,
				type : "POST",
				url : "/dashboard/saveOrUpdateDashboard",
				data : $('#operate').serialize(),// 你的formid
				async : false,
				success : function(data) {
					if (data.code == 0) {
						parent.layer.msg(data.msg);
						returnBackAndReLoad(true);
					} else {
						parent.layer.msg(data.msg);
					}
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate('REPORT');
			}
		});
		
		function changeModule($obj){
			var moduleId = $obj.val();
			var moduleType = $('option[value="'+moduleId+'"]').attr('data-type');
			$('#moduleType').val(moduleType);
			resetShowReportList(moduleType, moduleId, '');
		}
		
		function resetShowReportList(moduleType, moduleId, selectReportIds) {
			var selectReportIds = $('#selectReportIds').val();
			$.ajax({
				cache : true,
				type : "POST",
				url : "/dashboard/getShowReportList",
				data : {
					'moduleType' : moduleType,
					'moduleId': moduleId,
					'selectIds': selectReportIds,
				},
				async : false,
				success : function(data) {
					if(data) {
						var optionHtml = '<option value="">请选择</option>';
						for(var i = 0; i < data.length; i++) {
							optionHtml += '<option '+(data[i].checked?'selected':'')+' data-content="'+data[i].text+'" value="'+data[i].id+'"></option>';
						}
						$('#showReportIds').html(optionHtml).selectpicker('refresh');
					}
				}
			});
		}
		
		function intoDashboardTab($obj){
			var type = $($obj).attr('type');
			if($obj.hasClass('active')){
				return;
			}
			var id = $('#id').val(), url;
			if(type == 'dashboard'){
				url = '/dashboard/dashboardSet?dashboardId='+id+'&parentname=' + window.name;
			}else{
				url = '/dashboard/addOrEditDashboard/'+id+'?preId=&parentname=' + window.name;
			}
			intoIframePage(url, false, 'DASHBOARD');
		}
	</script>
	
</body>
</html>