<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<link rel="stylesheet" href="/css/form/filter-add.css"/>
<style>
	.page-ul.page-ul2{margin-top:10px;}
	.page-ul .field-li .field-div .form-control{border:1px solid #e5e6e7!important;}
	.page-ul .field-li .field-content input:focus, .page-ul .field-li .field-content input:hover{border:1px solid var(--theme)!important;}
</style>
<head th:include="include::formHeaderContent"></head>

<body class="layer-body addPage" th:classappend="${session.theme}">
	<div class="layer-box module">
		<form action="" id="operate">
			<input type="hidden" id="objectType" name="objectType" th:value="${objectType}"/>
			<ul class="page-ul page-ul2">
				<li class="field-li content-whole sign" field="operateRule" htype="SIGN">
					<div class="field-div field-sign-title3">
						<i class="zmdi zmdi-hdr-strong mr10"></i>
						<div class="title" th:text="监听器设置"></div>
					</div>
					<div class="field-div field-sign-content"></div>
				</li>
				<li class="field-li content-whole r" htype="TEXT" th:each="aop,iterStat:${aopModuleList}" th:classappend="${iterStat.odd} ? 'odd':''" th:id="${aop.id}">
					<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="${aop.name}"></span></div>
					<div class="field-div field-content" th:text="${aop.exeCls}"></div>
				</li>
			</ul>
		</form>
	</div>
	
	<div th:include="include::formFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]];</script>
	<script src="/js/workflow/operate-guide.js"></script>
	<script src="/js/workflow/workflow-common.js"></script>
	<script src="/js/form/filter-add.js"></script>
	
	<script type="text/javascript">
		$(function() {
			hideLoading();
			$('.layui-submit-btn').removeClass('hide');
		});
		
		function editAopModule() {
			window.location.href = '/commonAopEdit?objectType=' + $('#objectType').val();
		}
	</script>	
	
</body>
</html>