<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>字段编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {"backend": "zh-cn", "frontend": "zh-cn"}
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "meta",
                "controllername": "column",
                "actionname": "edit",
                "jsname": "backend/meta/column-edit",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside is-dialog">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>字段编辑</h1>
                        </section>
                        <div class="content">
                            <form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST">
                                <input type="hidden" name="columnId" id="columnId" value="" />
                                <input type="hidden" name="tableId" id="tableId" value="" />

                                <div class="form-group">
                                    <label for="columnName" class="control-label col-xs-12 col-sm-2">字段名称 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="columnName" name="columnName" value="" placeholder="请输入字段名称" data-rule="required" />
                                        <span class="help-block">数据库中的字段名，如 user_name</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="columnDesc" class="control-label col-xs-12 col-sm-2">字段描述</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="columnDesc" name="columnDesc" value="" placeholder="请输入字段描述" />
                                        <span class="help-block">字段的中文描述</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="columnType" class="control-label col-xs-12 col-sm-2">字段类型 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" id="columnType" name="columnType">
                                            <option value="varchar">varchar - 字符串</option>
                                            <option value="int">int - 整数</option>
                                            <option value="bigint">bigint - 长整数</option>
                                            <option value="decimal">decimal - 小数</option>
                                            <option value="text">text - 文本</option>
                                            <option value="datetime">datetime - 日期时间</option>
                                            <option value="date">date - 日期</option>
                                            <option value="time">time - 时间</option>
                                            <option value="tinyint">tinyint - 微整数</option>
                                            <option value="char">char - 固定字符串</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="javaType" class="control-label col-xs-12 col-sm-2">Java类型 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" id="javaType" name="javaType">
                                            <option value="String">String</option>
                                            <option value="Integer">Integer</option>
                                            <option value="Long">Long</option>
                                            <option value="BigDecimal">BigDecimal</option>
                                            <option value="LocalDateTime">LocalDateTime</option>
                                            <option value="LocalDate">LocalDate</option>
                                            <option value="LocalTime">LocalTime</option>
                                            <option value="Boolean">Boolean</option>
                                            <option value="Double">Double</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="javaField" class="control-label col-xs-12 col-sm-2">Java字段名 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="javaField" name="javaField" value="" placeholder="请输入Java字段名" data-rule="required" />
                                        <span class="help-block">驼峰命名，如 userName</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">字段属性</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="isPk" id="isPk" value="1" /> 主键
                                            </label>
                                            <label>
                                                <input type="checkbox" name="isIncrement" id="isIncrement" value="1" /> 自增
                                            </label>
                                            <label>
                                                <input type="checkbox" name="isRequired" id="isRequired" value="1" /> 必填
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">显示配置</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="isQuery" id="isQuery" value="1" /> 查询条件
                                            </label>
                                            <label>
                                                <input type="checkbox" name="isDisplay" id="isDisplay" value="1" /> 显示字段
                                            </label>
                                            <label>
                                                <input type="checkbox" name="isList" id="isList" value="1" /> 列表显示
                                            </label>
                                            <label>
                                                <input type="checkbox" name="isForm" id="isForm" value="1" /> 表单字段
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="queryType" class="control-label col-xs-12 col-sm-2">查询方式</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" id="queryType" name="queryType">
                                            <option value="1">精确查询</option>
                                            <option value="2">模糊查询</option>
                                            <option value="3">范围查询</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formType" class="control-label col-xs-12 col-sm-2">表单类型</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" id="formType" name="formType">
                                            <option value="1">文本框</option>
                                            <option value="2">文本域</option>
                                            <option value="3">下拉框</option>
                                            <option value="4">单选框</option>
                                            <option value="5">复选框</option>
                                            <option value="6">日期选择</option>
                                            <option value="7">文件上传</option>
                                            <option value="8">富文本</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dictType" class="control-label col-xs-12 col-sm-2">字典类型</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="dictType" name="dictType" value="" placeholder="请输入字典类型" />
                                        <span class="help-block">关联的字典类型，如需从字典加载选项</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="defaultValue" class="control-label col-xs-12 col-sm-2">默认值</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="defaultValue" name="defaultValue" value="" placeholder="请输入默认值" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="columnSort" class="control-label col-xs-12 col-sm-2">排序</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="number" class="form-control" id="columnSort" name="columnSort" value="0" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remark" class="control-label col-xs-12 col-sm-2">备注</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea class="form-control" id="remark" name="remark" rows="3" placeholder="请输入备注"></textarea>
                                    </div>
                                </div>

                                <div class="form-group hidden layer-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" class="btn btn-success btn-embossed">确定</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
