<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>字典数据编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {
                        "backend": "zh-cn",
                        "frontend": "zh-cn"
                    }
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "meta",
                "controllername": "dictionary-item",
                "actionname": "index",
                "jsname": "backend/meta/dictionary-item",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="content">
                            <form id="add-form" class="form-horizontal" role="form">
                                <div class="panel panel-default panel-intro">
                                    <div class="panel-heading">
                                        <div class="panel-lead">
                                            <em>字典数据信息</em>
                                        </div>
                                        <ul class="nav nav-tabs">

                                            <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="tab1">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">字典数据ID:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="dictId" name="row[dictId]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">字典类型ID:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="dictTypeId" name="row[dictTypeId]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">字典类型编码:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="dictTypeCode" name="row[dictTypeCode]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">字典数据编码:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="dictDataCode" name="row[dictDataCode]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">字典数据值:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="dictDataValue" name="row[dictDataValue]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">字典数据标签:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="dictDataLabel" name="row[dictDataLabel]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">样式类:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="cssClass" name="row[cssClass]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">列表样式:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="listClass" name="row[listClass]" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">是否默认:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="isDefault" name="row[isDefault]" class="form-control selectpicker">
                                                            <option value="0" selected>否</option>
                                                            <option value="1">是</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">状态:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="status" name="row[status]" class="form-control selectpicker">
                                                            <option value="1" selected>启用</option>
                                                            <option value="0">禁用</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">排序:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="sortOrder" name="row[sortOrder]" class="form-control" type="number" value="0">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-2">备注:</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <textarea id="remark" name="row[remark]" class="form-control" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group layer-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" class="btn btn-success btn-embossed">提交</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                        <a href="javascript:;" class="btn btn-danger btn-close">取消</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
