<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>动态CRUD - SSITAO Code Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {
                        "backend": "zh-cn",
                        "frontend": "zh-cn"
                    }
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "meta",
                "controllername": "dynamic",
                "actionname": "index",
                "jsname": "backend/meta/dynamic",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>动态CRUD</h1>
                        </section>
                        <!-- RIBBON -->
                        <div id="ribbon">
                            <ol class="breadcrumb pull-left">
                                <li><a href="/console" class="addtabsit"><i class="fa fa-dashboard"></i> 控制台</a></li>
                                <li><a href="javascript:;" data-url="meta">低代码平台</a></li>
                                <li><a href="javascript:;" data-url="meta/dynamic">动态CRUD</a></li>
                            </ol>
                        </div>
                        <!-- END RIBBON -->
                        <div class="content">
                            <div class="panel panel-default panel-intro">
                                <div class="panel-body">
                                    <div class="well">
                                        <h4><i class="fa fa-info-circle"></i> 功能说明</h4>
                                        <p>动态CRUD允许您动态创建和管理数据实体，无需编写代码。</p>
                                        <p>请通过 <strong>实体管理</strong> 页面创建实体，然后使用动态接口进行数据操作。</p>
                                        <p>
                                            <a href="/meta/entity" class="btn btn-primary">
                                                <i class="fa fa-database"></i> 前往实体管理
                                            </a>
                                        </p>
                                    </div>
                                    <h4>可用接口</h4>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>操作</th>
                                                <th>URL</th>
                                                <th>说明</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="label label-success">GET</span></td>
                                                <td><code>/meta/dynamic/data/{entityCode}</code></td>
                                                <td>查询数据</td>
                                            </tr>
                                            <tr>
                                                <td><span class="label label-info">POST</span></td>
                                                <td><code>/meta/dynamic/data/{entityCode}</code></td>
                                                <td>新增数据</td>
                                            </tr>
                                            <tr>
                                                <td><span class="label label-warning">PUT</span></td>
                                                <td><code>/meta/dynamic/data/{entityCode}/{id}</code></td>
                                                <td>更新数据</td>
                                            </tr>
                                            <tr>
                                                <td><span class="label label-danger">DELETE</span></td>
                                                <td><code>/meta/dynamic/data/{entityCode}/{id}</code></td>
                                                <td>删除数据</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
