<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<link rel="stylesheet" href="/css/plugins/summernote/summernote.css"/>
<link rel="stylesheet" href="/css/form/form.css"/>
<link rel="stylesheet" href="/css/form/switch.css"/>
<link rel="stylesheet" href="/css/font-awesome.min.css">

<style>
	.page-ul .field-li .field-label{min-width:150px;max-width:150px;padding-bottom:12px;}
	.content-box{display:flex;margin-left:30px}
	#timerSelect{font-size:14px;letter-spacing:0.2em;}
	.timer-picker{left:0px!important;top:35px!important;}
	.num-title{font-weight:bold;line-height:16px;margin-right:5px;width:100px;text-align:right;}
	.page-ul .field-li.r .field-content-num{padding-top:13px;display:flex;align-items:center;}
	.page-ul .field-content-num .field-content-check{padding-top:2px;}
</style>
<head th:include="include::headerContent"></head>

<body class="layer-body" th:classappend="${session.theme}">
	
	<div class="layer-box isView">
		<form action="" id="operate">
			<ul class="page-ul page-ul2">
				<li class="field-li content-whole sign" field="timerRunSet" htype="SIGN">
					<div class="field-div field-sign-title3">
						<i class="zmdi zmdi-hdr-strong mr10"></i>
						<div class="title">定时器运行时间配置</div>
					</div>
					<div class="field-div field-sign-content"></div>
				</li>
				<li class="field-li content-whole r" field="autoRunTime" htype="NUMBER">
					<div class="field-div field-label"><span class="requireSign"></span><span class="title">每日定时运行时间</span></div>
					<div class="field-div field-content-num" th:text="${timerVal}">
					</div>
				</li>
				<li class="field-li content-whole sign" field="timerRunSet" htype="SIGN">
					<div class="field-div field-sign-title3">
						<i class="zmdi zmdi-hdr-strong mr10"></i>
						<div class="title">定时器参数配置</div>
					</div>
					<div class="field-div field-sign-content"></div>
				</li>
				<li class="field-li content-whole r" th:each="timer:${timerList}" th:id="${timer.id}" th:name="${timer.timerName}" htype="NUMBER">
					<div class="field-div field-label cp-theme" ondblclick="runTimer($(this))"><span class="requireSign"></span><span class="title" th:text="${timer.name}"></span></div>
					<div class="field-div field-content-num">
						<span th:text="${timer.isValid} eq 'Y' ? '开':'关'"></span>
						<div class="content-box" th:style="${timer.isValid} eq 'N' ? 'display:none' : '' ">
							<div class="ml20 num-title">运行频率</div>
							<div class="numValue mr5" th:if="${timer.periodType} eq '1'">每天</div>
							<div class="numValue mr5" th:if="${timer.periodType} eq '2'">每周</div>
							<div class="numValue mr5" th:if="${timer.periodType} eq '3'">每月</div>
						</div>
					</div>
				</li>
				
				<li class="field-li content-whole textarea" field="" htype="BTN">
					<div class="layui-layer-btn layui-submit-btn whole_w pr12 mt50 center hide" shiro:hasPermission="ADV:EDIT">
						<input type="button" id="button" class="layui-layer-btn0 btns cp mr0" th:value="#{common.edit}" onclick="editTimer()"/>
					</div>
				</li>
			</ul>
			
		</form>
	
	</div>
	
	
	<div th:include="include::footerContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; objectType = [[${param.objectType}]];</script>
	
	<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/form/switch.js"></script>
	<script src="/js/form/form.js"></script>
	<script src="/js/form/jquery-html5Validate.js"></script>
	<script src="/js/system/timer/jquery-clock-timepicker.min.js"></script>
	
	<script>
		$(function() {
			hideLoading();
			
			$('#timerSelect').clockTimePicker({});
			
			$('.layui-layer-btn').removeClass('hide');
			
			//初始化开关
			$('.lcs_check').each(function(){
				$(this).lc_switch($(this).attr('on_text'), $(this).attr('off_text'));
			});
			// triggered each time a field changes status
			$('body').delegate('.lcs_check', 'lcs-statuschange', function() {
				var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
				
			});
			// triggered each time a field is checked
			$('body').delegate('.lcs_check', 'lcs-on', function() {
				if(typeof switchOnOrOff == 'function') {
					switchOnOrOff($(this), 'ON');
				}
			});
			// triggered each time a is unchecked
			$('body').delegate('.lcs_check', 'lcs-off', function() {
				if(typeof switchOnOrOff == 'function') {
					switchOnOrOff($(this), 'OFF');
				}
			});
		});
		
		function editTimer() {
			window.location.href = '/timerSet/timerEdit';
		}
		
	</script>
	
</body>
</html>
