<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>字典编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {
                        "backend": "zh-cn",
                        "frontend": "zh-cn"
                    }
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "iam",
                "controllername": "dict",
                "actionname": "edit",
                "jsname": "backend/iam/dict",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside is-dialog">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>字典编辑</h1>
                        </section>
                        <div class="content">
                            <form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST">
                                <input type="hidden" name="dictId" id="dictId" value="" />
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">字典编码 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="dictCode" value="" placeholder="请输入字典编码" data-rule="required;" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">字典名称 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="dictName" value="" placeholder="请输入字典名称" data-rule="required;" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">字典类型</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" name="dictType">
                                            <option value="SYSTEM">系统字典</option>
                                            <option value="BUSINESS">业务字典</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">数据来源</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" name="dictSource">
                                            <option value="CUSTOM">自定义</option>
                                            <option value="SQL">SQL查询</option>
                                            <option value="API">接口调用</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">排序号</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="number" class="form-control" name="dictSort" value="0" placeholder="请输入排序号" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">描述</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea class="form-control" name="dictDesc" rows="3" placeholder="请输入描述"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">状态</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="dictStatus" value="1" checked /> 启用
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="dictStatus" value="0" /> 禁用
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group layer-footer">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <button type="submit" class="btn btn-success btn-embossed">提交</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
