<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>菜单编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {"backend": "zh-cn", "frontend": "zh-cn"}
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "iam",
                "controllername": "menu",
                "actionname": "edit",
                "jsname": "backend/iam/menu",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside is-dialog">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>菜单编辑</h1>
                        </section>
                        <div class="content">
                            <form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST">
                                <input type="hidden" name="id" id="id" value="" />

                                <div class="form-group">
                                    <label for="parentId" class="control-label col-xs-12 col-sm-2">上级菜单</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control selectpicker" id="parentId" name="parentId" data-live-search="true">
                                            <option value="0">顶级菜单</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="menuName" class="control-label col-xs-12 col-sm-2">菜单名称 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="menuName" name="menuName" value="" placeholder="请输入菜单名称" data-rule="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="menuType" class="control-label col-xs-12 col-sm-2">菜单类型 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" id="menuType" name="menuType">
                                            <option value="MENU">菜单</option>
                                            <option value="BUTTON">按钮</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="icon" class="control-label col-xs-12 col-sm-2">图标</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="icon" name="icon" value="" placeholder="选择图标" readonly />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="iconPicker"><i class="fa fa-image"></i> 选择</button>
                                            </span>
                                        </div>
                                        <span class="help-block">点击选择FontAwesome图标</span>
                                    </div>
                                </div>

                                <div class="form-group menu-field">
                                    <label for="path" class="control-label col-xs-12 col-sm-2">路由地址</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="path" name="path" value="" placeholder="请输入路由地址" />
                                        <span class="help-block">路由路径，如：user/index</span>
                                    </div>
                                </div>

                                <div class="form-group menu-field">
                                    <label for="component" class="control-label col-xs-12 col-sm-2">组件路径</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="component" name="component" value="" placeholder="请输入组件路径" />
                                        <span class="help-block">前端组件路径，如：user/index.html</span>
                                    </div>
                                </div>

                                <div class="form-group button-field" style="display: none;">
                                    <label for="perms" class="control-label col-xs-12 col-sm-2">权限标识</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" id="perms" name="perms" value="" placeholder="请输入权限标识" />
                                        <span class="help-block">权限唯一标识，如：user:list</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="sortOrder" class="control-label col-xs-12 col-sm-2">排序</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="number" class="form-control" id="sortOrder" name="sortOrder" value="0" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="status" class="control-label col-xs-12 col-sm-2">状态</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="true" checked /> 正常
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="false" /> 禁用
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remark" class="control-label col-xs-12 col-sm-2">备注</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea class="form-control" id="remark" name="remark" rows="3" placeholder="请输入备注"></textarea>
                                    </div>
                                </div>

                                <div class="form-group hidden layer-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" class="btn btn-success btn-embossed">确定</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
