<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>组织编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {
                        "backend": "zh-cn",
                        "frontend": "zh-cn"
                    }
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "iam",
                "controllername": "org",
                "actionname": "edit",
                "jsname": "backend/iam/org",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside is-dialog">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>组织编辑</h1>
                        </section>
                        <div class="content">
                            <form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST">
                                <input type="hidden" name="id" id="id" value="" />
                                <input type="hidden" name="orgType" id="orgType" value="group" />

                                <!-- 集团字段 -->
                                <div class="group-fields">
                                    <div class="form-group">
                                        <label for="groupName" class="control-label col-xs-12 col-sm-2">集团名称 <span class="text-danger">*</span></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="groupName" name="groupName" value="" placeholder="请输入集团名称" data-rule="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="groupCode" class="control-label col-xs-12 col-sm-2">集团编码 <span class="text-danger">*</span></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="groupCode" name="groupCode" value="" placeholder="请输入集团编码" data-rule="required" />
                                        </div>
                                    </div>
                                </div>

                                <!-- 公司字段 -->
                                <div class="company-fields" style="display:none;">
                                    <div class="form-group">
                                        <label for="companyName" class="control-label col-xs-12 col-sm-2">公司名称 <span class="text-danger">*</span></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="companyName" name="companyName" value="" placeholder="请输入公司名称" data-rule="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyCode" class="control-label col-xs-12 col-sm-2">公司编码 <span class="text-danger">*</span></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="companyCode" name="companyCode" value="" placeholder="请输入公司编码" data-rule="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="groupId" class="control-label col-xs-12 col-sm-2">所属集团</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select class="form-control selectpicker" id="groupId" name="groupId">
                                                <option value="">请选择集团</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="legalPerson" class="control-label col-xs-12 col-sm-2">法定代表人</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="legalPerson" name="legalPerson" value="" placeholder="请输入法定代表人" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="unifiedSocialCreditCode" class="control-label col-xs-12 col-sm-2">统一社会信用代码</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="unifiedSocialCreditCode" name="unifiedSocialCreditCode" value="" placeholder="请输入统一社会信用代码" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactPhone" class="control-label col-xs-12 col-sm-2">联系电话</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="contactPhone" name="contactPhone" value="" placeholder="请输入联系电话" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="control-label col-xs-12 col-sm-2">地址</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <textarea class="form-control" id="address" name="address" rows="2" placeholder="请输入地址"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- 部门字段 -->
                                <div class="department-fields" style="display:none;">
                                    <div class="form-group">
                                        <label for="deptName" class="control-label col-xs-12 col-sm-2">部门名称 <span class="text-danger">*</span></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="deptName" name="deptName" value="" placeholder="请输入部门名称" data-rule="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deptCode" class="control-label col-xs-12 col-sm-2">部门编码 <span class="text-danger">*</span></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="deptCode" name="deptCode" value="" placeholder="请输入部门编码" data-rule="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyId" class="control-label col-xs-12 col-sm-2">所属公司</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select class="form-control selectpicker" id="companyId" name="companyId">
                                                <option value="">请选择公司</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pid" class="control-label col-xs-12 col-sm-2">上级部门</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select class="form-control selectpicker" id="pid" name="pid">
                                                <option value="">请选择上级部门</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="manager" class="control-label col-xs-12 col-sm-2">负责人</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="manager" name="manager" value="" placeholder="请输入负责人" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactPhone" class="control-label col-xs-12 col-sm-2">联系电话</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="text" class="form-control" id="deptContactPhone" name="contactPhone" value="" placeholder="请输入联系电话" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sort" class="control-label col-xs-12 col-sm-2">排序</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input type="number" class="form-control" id="sort" name="sort" value="0" placeholder="请输入排序号" />
                                        </div>
                                    </div>
                                </div>

                                <!-- 通用字段 -->
                                <div class="form-group">
                                    <label for="status" class="control-label col-xs-12 col-sm-2">状态</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="true" checked /> 正常
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="false" /> 禁用
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remark" class="control-label col-xs-12 col-sm-2">备注</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea class="form-control" id="remark" name="remark" rows="3" placeholder="请输入备注"></textarea>
                                    </div>
                                </div>

                                <div class="form-group hidden layer-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" class="btn btn-success btn-embossed">确定</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
