<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>用户编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/backend.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {
            "config": {
                "site": {
                    "name": "SSITAO Code Platform",
                    "cdnurl": "/",
                    "version": "2.0.0",
                    "timezone": "Asia/Shanghai",
                    "languages": {
                        "backend": "zh-cn",
                        "frontend": "zh-cn"
                    }
                },
                "upload": {
                    "cdnurl": "/",
                    "uploadurl": "/api/upload",
                    "bucket": "yourbucketname",
                    "maxsize": "10mb",
                    "mimetype": "*",
                    "multiple": false
                },
                "modulename": "iam",
                "controllername": "user",
                "actionname": "edit",
                "jsname": "backend/iam/user",
                "moduleurl": "/",
                "language": "zh-cn",
                "referer": null
            }
        };
    </script>
</head>

<body class="inside-header inside-aside is-dialog">
    <div id="main" role="main">
        <div class="tab-content tab-addtabs">
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <section class="content-header hide">
                            <h1>用户编辑</h1>
                        </section>
                        <div class="content">
                            <form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST">
                                <input type="hidden" name="id" id="id" value="" />
                                <input type="hidden" name="syTenantId" id="syTenantId" value="1" />

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">用户编码 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="userCode" value="" placeholder="用户唯一编码" data-rule="required;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">用户名 <span class="text-danger">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="userName" value="" placeholder="请输入用户名" data-rule="required;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">昵称</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="nickname" value="" placeholder="请输入昵称" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">真实姓名</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="realName" value="" placeholder="请输入真实姓名" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">所属部门</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" name="deptId" id="deptId">
                                            <option value="">请选择部门</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">岗位</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" name="postId" id="postId">
                                            <option value="">请选择岗位</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">手机号</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" class="form-control" name="userPhone" value="" placeholder="请输入手机号" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">邮箱</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="email" class="form-control" name="userMail" value="" placeholder="请输入邮箱" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select class="form-control" name="gender">
                                            <option value="">未知</option>
                                            <option value="male">男</option>
                                            <option value="female">女</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">状态</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="1" checked /> 启用
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="0" /> 禁用
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group layer-footer">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <button type="submit" class="btn btn-success btn-embossed">提交</button>
                                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/require.js" data-main="/assets/js/require-backend.js"></script>
</body>
</html>
