<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::listHeaderContent"></head>

<body class="gray-bg" th:classappend="${session.theme}">
	<div class="wrapper wrapper-content ">
		<div class="table-list-box"> 
			<div class="table-list">
				<div class="ibox-body">
					<div class="fixed-table-toolbar mb10"> 
						<div class="columns pull-left t-columns">
							<button type="button" class="btn t-btn y-active add" onclick="addRskLibrary()">
								<i class="fa fa-plus mr5"></i>
								<span class="pt1 h18">新建风险</span>
							</button>
							<button type="button" class="btn t-btn n-active" onclick="copyRskToPjt()">
								<i class="fa fa-cloud-download mr5"></i> 
								<span class="pt1 h18">复制到项目</span>
							</button>
						</div>
						
						<div class="pull-right search t-columns mr5">
							<input class="form-control input-outline form-search" type="text" placeholder="搜索">
						</div>
						<div class="clear"></div>
					</div>
					<div class="fixed-table-filter"></div>
					<table grid-manager="demoOne" id="grid-table"></table>
				</div>
			</div>
		</div>
	</div>
	<div>
		<input type="hidden" name="selectIds" id="selectIds" value="">
	</div>
	
	<div>
		<script type="text/javascript">
			var rights = 'O';
		</script>
	</div>
	<div>
		<script type="text/javascript">
			rights += ',E';
		</script>
	</div>
	<div>
		<script type="text/javascript">
			rights += ',D';
		</script>
	</div>
	
	<div th:include="include::listFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]] ; </script>
	<script src="/js/workflow/workflow-common.js"></script>

	<script type="text/javascript">
		$(function() {
			var headData = getHeadData('RSKLIB', 'N', '', '', '');
			if(headData) {
				createSearchConditions(headData.headData, 'RSKLIB');
			}
			$('#grid-table').initTable({
				model:'RSKLIB',
				rights: rights,
				supportPage: true,
				supportTree: false,
				supportCheckbox: true
			});
		});
		
		function addRskLibrary(){
			var url = 'rsk/addOrEditRskLibrary/null?parentname=' + window.name;
			intoIframePage(url, false, 'RSK');
		}
		
		function openRskLibrary(id) {
			var url = 'rsk/view/'+id+'?parentname=' + window.name;
			intoIframePage(url, false, 'RSK');
		}
	</script>	
	
</body>
</html>