<!DOCTYPE html>
<html>

<meta charset="utf-8">

<link rel="stylesheet" href="/css/form/popup-search.css"/>
<head th:include="include::headerContent"></head>

<body class="gray-bg" th:classappend="${session.theme}">

	<div class="ibox-content search-box">
		<input id="selectIds" th:value="${selectIds}" type="hidden">
		<input id="type" th:value="${type}" type="hidden">
		<input id="noCheckedParent" type="hidden" val="Y">
		<div class="box-left">
			<div class="search">
				<input autocomplete="off" class="form-control" id="search" name="name" type="text" th:placeholder="搜索菜单">
				<i class="zmdi zmdi-search"></i>
			</div>
			<div class="list-box">
				<div id="deptTree"></div>
			</div>
		</div>
		<div class="box-right">
			<div class="selected-list">
				<span th:text="#{common.select.list}"></span>
				<i class="zmdi zmdi-tag-close" onclick="deleteAll($(this))"></i>
			</div>
			<ul class="selected-ul"></ul>
		</div>
	</div>
	
	<div th:include="include::footerContent"></div>

	<script src="/js/form/popup-search.js"></script>
	<script th:inline="javascript">
	    var isMul = [[${isMul}]];
	</script>

	<script>
		var selectIds = $('#selectIds').val();
		$(document).ready(function() {
			$('.list-box').height($('.box-left').height() - 40);
			
			getTreeData();
		});
		
		function getTreeData(treeName) {
			$.ajax({
				type : "GET",
				url : "/sys/menu/searchTree?type="+$('#type').val()+"&treeName=" + treeName,
				success : function(tree) {
					loadTree(tree, isMul);
					hideLoading();
				}
			});
		}
		
		$('#search').keyup(function(event){
			if(event.keyCode ==13) {
				var searchVal = $(this).attr('searchVal');
				if((searchVal || $(this).val()) && (!searchVal || searchVal != $(this).val())) {
					$(this).attr('searchVal', $(this).val());
					
					$('#deptTree').jstree(true).destroy();
					getTreeData($(this).val());
				}
			}
	    });
	</script>
</body>

</html>
