<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<head th:include="include::formHeaderContent"></head>
<style>
	.li-ul{margin:0px;padding:0px;width:100%;}
	.c-text{color:#555;display:flex;align-items:center;}
	.openPage .formBtn{
		position:absolute;
	    right: 0px;
	    bottom: 0px;
	}
</style>

<body class="layer-body" th:classappend="${session.theme} + ((${plan.isTemplate} eq 'Y' and ${plan.objectType} ne 'PJT') ? ' windowPage':' openPage')">
	<div class="layer-box">
		<form action="" id="operate">
			<input type="hidden" id="isNext" value=""/>
			<input type="hidden" id="id" name="id" th:value="${plan.id}"/>
			<input type="hidden" id="isTemplate" name="isTemplate" th:value="${plan.isTemplate}"/>
			<input type="hidden" id="oldPlanId" name="oldPlanId" th:value="${oldPlanId}"/>
			<input type="hidden" id="objectId" name="objectId" th:value="${plan.objectId}"/>
			<input type="hidden" id="objectType" name="objectType" th:value="${plan.objectType}"/>
			<div class="layout-box new">
				<div class="layout-left">
					<ul class="page-ul">
						<li class="field-li content-whole" field="name" htype="TEXT">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="名称"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<input class="form-control" name="name" type="text" th:value="${plan.name}" placeholder="请输入计划名称" autocomplete="off"  htype="TEXT" maxlength="100" required>
							</div>
						</li>
						<li class="field-li content-whole" field="preId" htype="SELECT">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="前置计划"></span></div>
							<div class="field-div field-content">
								<select id="preId" class="selectpicker" name="preId" data-live-search="true" data-live-search-style="begins" title="请选择">
									<option value="">请选择</option>
									<option th:each="select:${preList}" th:selected="${select.checked}" th:attr="data-content=${select.text}" th:value="${select.id}"></option>
								</select>
							</div>
						</li>
						<li class="field-li check" field="status" htype="RADIO">
							<div class="field-div field-label"><span class="requireSign">*</span><span class="title" th:text="状态"></span></div>
							<div class="field-div field-content-check">
								<div class="radio">
								    <input type="radio" name="status" id="_status1" value="1" data-target="radio" th:checked="${plan.status} ne '2'" required>
								    <label for="_status1" th:text="使用中"></label>
							    </div>
							    <div class="radio">
								    <input type="radio" name="status" id="_status2" value="2" th:checked="${plan.status} eq '2'">
								    <label for="_status2" th:text="关闭"></label>
							    </div>
							</div>
						</li>
						<li class="field-li content-whole" field="remark" htype="AREA">
							<div class="field-div field-label"><span class="requireSign"></span><span class="title" th:text="备注"></span></div>
							<div class="field-div field-content textWrap wordSumTotal">
								<div class="textarea-box">
									<textarea rows="8" class="input_textarea" name="remark" id="remarkContent" placeholder="请输入备注" maxlength="1000" th:text="${plan.remark}"></textarea>
								</div>
							</div>
						</li>
					</ul>
					
					<div class="formBtn hide">
						<div class="layui-layer-btn layui-submit-btn">
							<input type="submit" id="submit" class="layui-layer-btn0 btns cp" onClick="$('#isNext').val('N')" th:value="#{common.save}"/>
							<input type="submit" id="submitAndNew" class="layui-layer-btn0 btns cp" onClick="$('#isNext').val('Y')" th:value="下一步" th:if="${plan.isTemplate} eq 'Y'" th:style="${isEdit} eq 'Y' ? 'display:none' : '' "/>
							<a class="layui-layer-btn1 close-btn cp" th:text="#{common.cancel}" onclick="layerWinCancel($(this))"></a>
						</div>
					</div>
					
				</div>
			</div>
		</form>
	
	</div>
	
	
	<div th:include="include::formFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]]; parentName = [[${param.parentname}]]; </script>
	
	<script>
		$(function() {
			initFormControl('plan');
			
			$('.formBtn').removeClass('hide');
			
		});
		
		$("#operate").html5Validate(function() {
			var isNext = $('#isNext').val();
			$.ajax({
				cache : true,
				type : "POST",
				url : "/plan/savePlan",
				data : $('#operate').serialize(),// 你的formid
				async : false,
				success : function(data) {
					if (data.code == 0) {
						var index = parent.layer.getFrameIndex(window.name)
						parent.layer.close(index, data.id, data.name);
						if(isNext && isNext == 'Y') {
							$('input[name="name"]').val('');
							planTaskList(data.id);
						}else {
							parent.layer.msg(data.msg);
						}
					} else {
						parent.layer.msg(data.msg);
					}
					hideLoading();
				}
			});
		}, {
			validate: function() {
				return customValidate('plan');
			}
		});
		
		function planTaskList(planId) {
			var url = '/plan/planTaskList?planId='+ planId +'&parentname=' + window.name;
			openWindowLikeIframe({'url':url, 'title':'计划任务', 'isParent':true});
		}
	</script>
	
</body>
</html>
