<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::listHeaderContent"></head>

<style>
	.col-sm-12{padding-left:0px!important;padding-right:0px!important;}
	.windowPage{background:white!important;}
	.windowPage{padding-left:15px;padding-right:15px;}
</style>

<body th:classappend="${session.theme} + (${isTemplate} eq 'Y' ? ' tempPage':' windowPage')">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12 mt15">
			<div class="ibox">
				<input type="hidden" id="objectId" name="objectId" th:value="${objectId}"/>
				<input type="hidden" id="objectType" name="objectType" th:value="${objectType}"/>
				<input type="hidden" id="model" name="model" th:value="${model}"/>
				<input type="hidden" id="isTemplate" name="isTemplate" th:value="${isTemplate}"/>
				<input type="hidden" id="isOpenWindow" name="isOpenWindow" th:value="Y"/>
				<div class="ibox-body">
					<div class="fixed-table-toolbar mb10"> 
						<div class="columns pull-left t-columns">
							<button type="button" class="btn t-btn y-active add" onclick="addPlan();">
								<i class="fa fa-plus mr5"></i>
								<span th:text="#{common.new}" class="pt1 h18"></span>
							</button>
						</div>
						
						<div class="columns columns-right btn-group pull-right t-columns">
						</div>
						<div class="pull-right search t-columns mr5">
							<input class="form-control input-outline form-search" name="showName" type="text" placeholder="搜索">
						</div>
						<div class="clear"></div>
					</div>
					<table grid-manager="demoOne" id="grid-table"></table>
				</div>
				
			</div>
		</div>
	</div>
	
	<div>
		<script type="text/javascript">
			var rights = '';
		</script>
		<script type="text/javascript" th:if="${isTemplate} eq 'Y'">
			rights += 'O';
		</script>
		<script type="text/javascript">
			rights += ',E';
		</script>
		<script type="text/javascript">
			rights += ',D';
		</script>
	</div>
	
	<div th:include="include::listFooterContent"></div>
	<script th:inline="javascript"> var ctx = [[@{/}]] ; var model = [[${model}]]</script>
	

	<script type="text/javascript">
		$(function() {
			$('#grid-table').initTable({
				model:'PLN',
				rights: rights,
				supportPage: true,
				supportTree: false,
				objectType: $('#objectType').val(),
				objectId: $('#objectId').val(),
				isOpenWindow: $('#objectId').val() ? 'Y':''
			});
		});
		
		function addPlan() {
			var isTemplate = $('#isTemplate').val();
			var url = '/plan/addOrEditPlan/null?preId='+ getCurRowId() +'&isTemplate='+isTemplate+'&objectId='+$('#objectId').val()+'&objectType='+$('#objectType').val()+'&parentname=' + window.name;
			if(isTemplate && isTemplate == 'Y'){
				openWindowLikeIframe({'url':url, 'title':'新建计划', 'isParent':true});
			}else{
				top.layer.open({
					type : 2,
					title : '新建计划',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : ['830px', '600px'],
					content : url,
					end: function(id){
						if(id){
							GridManager.refreshGrid('grid-table', true);
						}
					}
				});
			}
		}
				
		function editEntity(objectType, id){
			var isTemplate = $('#isTemplate').val();
			var url = '/plan/addOrEditPlan/'+id+'?preId=&parentname='+window.name;
			if(isTemplate && isTemplate == 'Y'){
				openWindowLikeIframe({'url':url, 'title':'新建计划', 'isParent':true});
			}else{
				top.layer.open({
					type : 2,
					title : '编辑计划',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : ['830px', '600px'],
					content : url,
					end: function(id){
						if(id){
							GridManager.refreshGrid('grid-table', true);
						}
					}
				});
			}
		}
		
		function reLoadPlan() {
			if(typeof iFilter != 'undefined') {
				iFilter.refreshTable();
			}
		}
	</script>	
	
</body>
</html>